<template>
  <div class="signup">
    <div class="q-pa-md"><h3>Inregistrare</h3></div>
    <form @submit.prevent="signupSubmit">
      <div class="q-pa-md">
        <q-input
          ref="nameSignup"
          type="text"
          filled
          v-model="userData.name"
          label="nume"
          @validate="function (value) { console.log(value) }"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere'
            ]"
        />
      </div>

      <div class="q-pa-md">
        <q-input
          ref="emailSignup"
          type="email"
          filled
          v-model="userData.email"
          label="email"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere',
            val => emailIsValid(val) === true || 'Introduceti o adresa de email valida'
            ]"
        />
      </div>
      <div class="q-pa-md">
        <q-input
          ref="passwordSignup"
          v-model="userData.password"
          filled
          label="parola"
          :type="isPwd1 ? 'password' : 'text'"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere',
            val => passwordChecker(val) === true || 'Parola trebuie sa contina cel putin un numar, o majuscula si un semn special.'
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd1 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd1 = !isPwd1"
            />
          </template>
        </q-input>
      </div>
      <div class="q-pa-md">
        <q-input
          ref="password1Signup"
          v-model="password"
          filled
          label="parola din nou"
          :type="isPwd2 ? 'password' : 'text'"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val === password || 'Cele doua campuri pentru parola trebuie sa fie identice ' + password
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd2 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd2 = !isPwd2"
            />
          </template>
        </q-input>
      </div>
      <div class="q-pa-md">
        <q-input
          ref="phoneNumberSignup"
          filled
          v-model="userData.phone_number"
          label="telefon mobil"
          mask="#### ### ###"
          unmasked-value
          hint="Format: ##########"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length === 10 || 'Trebuie sa contina 10 cifre.',
            val => checkIfIsValidRomanianPhoneNumber(val) === true || 'Introduceti un numar de telefon valid'
            ]"
        />
      </div>
      <div class="q-pa-md">
      <q-select
        transition-show="flip-up"
        transition-hide="flip-down"
        label="oras"
        filled
        :value="userData.city"
        v-model="userData.city"
        ref="citySignup"
        :options="options"
        use-input
        input-debounce="0"
        @filter="filterFn"
        behavior="menu"
        :rules="[
          val => !!val || 'Campul este obligatoriu!',
        ]"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              Nu exista rezultate
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      </div>
      <div class="q-pa-md">
        <q-checkbox
          v-model="userData.terms_accepted"
          label="Termeni si conditii"
          ref="termsAccepted"
          dense
        />
      </div>
      <div class="q-pa-md">
        <q-checkbox
          v-model="userData.concent_accepted"
          label="Accept cookies"
          ref="concentAccepted"
          dense
        />
      </div>
      <div class="q-pa-md">
        <button type="submit" class="publicButton non-selectable">Inregistrare</button>
      </div>
    </form>
    <div class="q-pa-md">
      <router-link class="publicButton non-selectable" to="/" color="green">Autentificare</router-link>
    </div>
  </div>
</template>

<script>
// const stringOptions = ['Google', 'Facebook', 'Twitter', 'Apple', 'Oracle']

import auth from 'src/auth'

export default {
  name: 'singup_component',
  data () {
    return {
      userData: {
        name: '',
        email: '',
        phone_number: '',
        password: '',
        city: '',
        terms_accepted: false,
        concent_accepted: false
      },
      password: '',
      isPwd1: true,
      isPwd2: true,
      stringOptions: ['Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'],
      options: [],
      nameValid: false,
      isSubmitable: [{ nameSignup: false }, { emailSignup: false }, { passwordSignup: false }, { password1Signup: false }, { phoneNumberSignup: false }, { citySignup: false }, { termsAccepted: false }, { concentAccepted: false }],
      errorMessage: '',
      successMessage: ''
    }
  },
  methods: {
    filterFn (val, update, abort) {
      // console.log(val)
      if (val === '') {
        update(() => {
          this.options = this.stringOptions
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    signupSubmit: async function () {
      for (let ref in this.$refs) {
        if (this.$refs[ref].validate) {
          this.isSubmitable[ref] = true
        }
      }

      if (this.isSubmitable.indexOf(false)) {
        // console.log('Do not sign him up')
      } else {
        try {
          await auth.register(this.userData)
          this.successMessage = 'User created!'
        } catch (e) {
          this.errorMessage = e.message
        }
      }
    },
    checkIfIsValidRomanianPhoneNumber (value) {
      if (value.length === 10) {
        if (/^\d+$/.test(value)) {
          if (this.countApperanceOfString(value, '07') >= 1 || this.countApperanceOfString(value, '+407') === 1) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      } else {
        return false
      }
    },
    countApperanceOfString: function (value, needle) {
      value += ''
      needle += ''

      if (value.length <= 0) {
        return 0
      }

      let subStr = needle.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
      return (value.match(new RegExp(subStr, 'gi')) || []).length
    },
    passwordChecker: function (value) {
      let allowedSpecial = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]+/
      let lower = false
      let upper = false
      let numbers = false
      let special = false
      if (allowedSpecial.test(value)) {
        special = true
      }
      if (value.length >= 5) {
        if (/^\d+$/.test(value)) {
          numbers = true
        }
        for (let i = 0; i < value.length; i++) {
          if (isNaN(value[i] * 1)) {
            if (/[A-Z]|[\u0080-\u024F]/.test(value[i]) && value[i] === value[i].toUpperCase()) {
              upper = true
            }

            if (/[a-z]|[\u0080-\u024F]/.test(value[i]) && value[i] === value[i].toLowerCase()) {
              lower = true
            }
          } else {
            numbers = true
          }
        }

        if (numbers && upper && lower && special) {
          return true
        } else {
          return false
        }
      }
    }
  },
  watch: {
    'name': function (newVal, oldVal) {
    }
  }
}
</script>

<style scoped>
</style>
