<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 'rc_buildings',
  data () {
    return {
      buildings: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'building_id',
          field: 'id',
          required: false,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: true,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          label: 'Nume',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          align: 'left',
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'description',
          field: 'description',
          label: 'Descriere',
          required: false,
          sortable: true,
          editable: true,
          fixed: false,
          align: 'left',
          type: 'text',
          showInTable: true,
          filterable: false
        },
        {
          name: 'no_floors',
          field: 'no_floors',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          label: 'Nr. etaje',
          align: 'center',
          type: 'number',
          showInTable: true
        },
        {
          name: 'no_apartments',
          field: 'no_apartments',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          label: 'Nr. apartamente',
          align: 'center',
          type: 'number',
          showInTable: true
        },
        {
          name: 'indoor_parking_places',
          field: 'indoor_parking_places',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          label: 'Locuri parcare interior',
          align: 'center',
          type: 'number',
          showInTable: true
        },
        {
          name: 'outdoor_parking_places',
          field: 'outdoor_parking_places',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          label: 'Locuri parcare exterior',
          align: 'center',
          type: 'number',
          showInTable: true
        },
        {
          name: 'actions',
          field: 'actions',
          label: 'Actiuni',
          required: true,
          sortable: true,
          editable: false,
          fixed: true,
          align: 'right',
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'description', 'no_floors', 'no_apartments', 'indoor_parking_places', 'outdoor_parking_places'],
        addComponent: 'buildingEditViewAdd'
      }
    }
  },
  computed: {
    ...mapGetters('buildings', ['getDataBuildings'])
  },
  methods: {
    ...mapActions('user', [ 'userGet' ]),
    ...mapGetters('user', [ 'getUser' ]),
    ...mapActions('buildings', ['dataBuildings']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.buildings) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          building_id: this.buildings[item].id,
          name: this.buildings[item].name,
          id: this.buildings[item].id,
          description: this.buildings[item].description,
          no_floors: this.buildings[item].no_floors,
          no_apartments: this.buildings[item].no_apartments,
          indoor_parking_places: this.buildings[item].indoor_parking_places,
          outdoor_parking_places: this.buildings[item].outdoor_parking_places,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'buildingEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'buildings',
                reloadAction: 'buildings/dataBuildings'
              }
            ]
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataBuildings': function (newVal) {
      this.buildings = newVal
    },
    'buildings': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataBuildings()
    this.buildings = this.getDataBuildings
  }
}
</script>

<style scoped>

</style>
