<template>
  <q-page class="flex flex-center">
    <q-card>
      <q-card-section>
        <q-toolbar-title>Pagina clienti</q-toolbar-title>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'rc_customers'
}
</script>
