<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
import apiCall from '../../../apiCall'
export default {
  name: 's_flats_types',
  data: function () {
    return {
      flatsTypes: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'flats_type_id',
          field: 'id',
          required: true,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: false,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'building',
          field: 'building',
          required: true,
          label: 'Cladire',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'util_sqm',
          field: 'util_sqm',
          label: 'Suprafata utila (mp)',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          type: 'number',
          showInTable: true
        },
        {
          name: 'total_sqm',
          field: 'total_sqm',
          label: 'Suprafata totala (mp)',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          type: 'number',
          showInTable: true
        },
        {
          name: 'no_rooms',
          field: 'no_rooms',
          value: 'no_rooms',
          label: 'Nr. camere',
          required: true,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'number',
          showInTable: true
        },
        {
          name: 'no_baths',
          field: 'no_baths',
          value: 'no_baths',
          label: 'Nr. bai',
          required: true,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'number',
          showInTable: true
        },
        {
          name: 'no_bedrooms',
          field: 'no_bedrooms',
          value: 'no_bedrooms',
          label: 'Nr. dormitoare',
          required: false,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'number',
          showInTable: false
        },
        {
          name: 'no_teraces',
          field: 'no_teraces',
          value: 'no_teraces',
          label: 'Nr. terase/balcoane',
          required: false,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'number',
          showInTable: false
        },
        {
          name: 'price_net',
          field: 'price_net',
          required: true,
          editable: true,
          label: 'Pret NET',
          align: 'left',
          type: 'number',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'vat',
          field: 'vat',
          required: true,
          editable: true,
          label: 'TVA %',
          align: 'left',
          type: 'number',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'currency',
          field: 'currency',
          required: true,
          editable: true,
          label: 'Moneda',
          align: 'left',
          type: 'text',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'building', 'util_sqm', 'total_sqm', 'no_rooms', 'no_baths', 'price_net', 'vat', 'currency']
      }
    }
  },
  computed: {
    ...mapGetters('flatsTypes', ['getDataFlatsTypes'])
  },
  methods: {
    ...mapActions('user', ['userGet']),
    ...mapActions('flatsTypes', ['dataFlatsTypes']),
    ...mapGetters('user', ['getUser']),
    getBuildingName (buildingId, rowNumber) {
      /* Asta se schimba dupa ce avem actiunile de building facute */
      // if (this.getDataBuildings && this.getDataBuildings.length) {
      //   for (let item in this.getDataBuildings) {
      //     if (this.getDataBuildings[item].id === buildingId) {
      //       return this.getDataBuildings[item].name
      //     }
      //   }
      // }
      return apiCall.getCallApi('/buildings?id=' + buildingId, 'post').then(response => {
        this.tableData[rowNumber].building = response.data[0].name
      })
    },
    prepareTableData () {
      this.tableData = []
      for (let item in this.flatsTypes) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          flats_types_id: this.flatsTypes[item].id,
          name: this.flatsTypes[item].name,
          building: this.flatsTypes[item].building_id,
          util_sqm: this.flatsTypes[item].util_sqm,
          total_sqm: this.flatsTypes[item].total_sqm,
          no_rooms: this.flatsTypes[item].no_rooms,
          no_baths: this.flatsTypes[item].no_baths,
          no_bedrooms: this.flatsTypes[item].no_bedrooms,
          no_teraces: this.flatsTypes[item].no_teraces,
          price_net: this.flatsTypes[item].price_net,
          vat: this.flatsTypes[item].vat,
          currency: this.flatsTypes[item].currency,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'flatsTypeEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'flats'
              }
            ]
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataFlatsTypes': function (newVal) {
      this.flatsTypes = newVal
    },
    'flatsTypes': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataFlatsTypes()
    this.flatsTypes = this.getDataFlatsTypes
  }
  // },
  // mounted () {
  //   // this.flatsTypes = this.getDataFlatsTypes
  // }
}
</script>

<style scoped>

</style>
