<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
// import apiCall from '../../../apiCall'
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 'rc_flats_page',
  data () {
    return {
      flats: [],
      buildings: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          value: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'flat_id',
          field: 'id',
          required: false,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: true,
          idKey: true
        },
        {
          name: 'building',
          field: 'building',
          required: true,
          label: 'Cladire',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'name',
          field: 'name',
          value: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'no_rooms',
          field: 'no_rooms',
          value: 'no_rooms',
          label: 'Nr. camere',
          required: true,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'number',
          showInTable: true
        },
        {
          name: 'floor',
          field: 'floor',
          value: 'floor',
          required: true,
          editable: true,
          label: 'Etaj',
          align: 'center',
          type: 'number',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'building', 'floor', 'no_rooms'],
        addComponent: 'flatEditViewAdd'
      }
    }
  },
  computed: {
    ...mapGetters('flats', ['getDataFlats']),
    ...mapGetters('buildings', ['getDataBuildings'])
  },
  methods: {
    ...mapActions('user', [ 'userGet' ]),
    ...mapGetters('user', [ 'getUser' ]),
    ...mapActions('buildings', ['dataBuildings']),
    ...mapActions('flats', ['dataFlats']),
    getBuildingName (buildingId, rowNumber) {
      if (this.buildings && this.buildings.length) {
        let index = this.buildings.findIndex(val => val.building_id === buildingId)
        if (index !== -1) {
          this.tableData[rowNumber].building = this.buildings[this.buildings.findIndex(val => val.building_id === buildingId)].name
        }
      }
    },
    prepareTableData () {
      let i = 0
      this.tableData = []
      for (let item in this.flats) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          flat_id: this.flats[item].id,
          name: this.flats[item].name,
          no_rooms: this.flats[item].no_rooms,
          floor: this.flats[item].floor === 0 ? 'Parter' : this.flats[item].floor,
          building: this.flats[item].building_id,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'flatEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'flats',
                reloadAction: 'flats/dataFlats'
              }
            ]
          }
        })
        this.getBuildingName(this.flats[item].building_id, i)
        i++
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataFlats': function (newVal) {
      this.flats = newVal
    },
    'getDataBuildings': function (newVal) {
      this.buildings = newVal
    },
    'flats': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    /* Daca nu avem cladirile incercam sa le luam din getter */
    if (this.buildings.length === 0) {
      this.buildings = this.getDataBuildings
    }
    /* Daca nu tot nu le avem incercam sa le tragem */
    if (this.buildings.length === 0) {
      this.dataBuildings().then(() => {
        this.dataFlats()
        this.flats = this.getDataFlats
      })
    } else {
      this.dataFlats()
      this.flats = this.getDataFlats
    }
  },
  mounted () {
  }
}
</script>
