<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 'rc_residential_complexes',
  data () {
    return {
      complexes: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'complex_id',
          field: 'id',
          required: false,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: true,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'phone',
          field: 'phone',
          label: 'Telefon',
          required: true,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: false,
          type: 'phone',
          showInTable: true
        },
        {
          name: 'email',
          field: 'email',
          required: true,
          editable: true,
          label: 'Email',
          align: 'left',
          type: 'email',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'phone', 'email'],
        addComponent: 'residentialComplexEditViewAdd'
      }
    }
  },
  computed: {
    ...mapGetters('complexes', ['getComplexesSet'])
  },
  methods: {
    ...mapActions('user', [ 'userGet' ]),
    ...mapGetters('user', [ 'getUser' ]),
    ...mapActions('complexes', ['complexesSet']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.complexes) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          complex_id: this.complexes[item].id,
          name: this.complexes[item].name,
          phone: this.complexes[item].phone,
          email: this.complexes[item].email,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'residentialComplexEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'residential_complexes',
                reloadAction: 'complexes/complexesSet'
              }
            ]
          }
        })
      }
      this.$q.loading.hide()
    }
  },
  components: { tableComponent },
  watch: {
    'getComplexesSet': function (newVal) {
      console.log('newVal', newVal)
      this.complexes = newVal
    },
    'complexes': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.$q.loading.show()
    this.complexesSet()
    this.complexes = this.getComplexesSet
  }
}
</script>

<style scoped>

</style>
