<template>
  <div>
    <table-component
      :tableData="tableData"
      :tableColumns="tableColumns"
      :tableSettings="tableSettings"
    />
  </div>
</template>

<script>
import apiCall from '../../apiCall'
// import api from '../../api'
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../components/tables/tableComponent'
export default {
  name: 'dashboard',
  data () {
    return {
      tableData: [{
        number: 1,
        name: 'test1',
        email: 'test1@test.ro',
        group: 'Admins',
        city: 'Bucuresti',
        image: '',
        action: {
          color: 'red',
          label: 'Sterge',
          action: 'delete'
        },
        selected: false,
        expand: false,
        subdata: 'Informatii subgrid'
      },
      {
        number: 2,
        name: 'test2',
        email: 'test2@test.ro',
        group: 'Admins',
        city: 'Bucuresti',
        image: '',
        action: {
          color: 'primary',
          label: 'Edit',
          action: 'edit',
          icon: 'mail'
        },
        expand: false,
        selected: false
      },
      {
        number: 3,
        name: 'test3',
        email: 'test3@test.ro',
        group: 'Admins',
        city: 'Bucuresti',
        image: '',
        actionsGroup: {
          label: 'Dropdown',
          color: 'amber',
          actions: [
            {
              label: 'Option1',
              action: alert
            },
            {
              label: 'Option2',
              action: alert
            }
          ]
        },
        expand: false,
        selected: false
      },
      {
        number: 4,
        name: 'test4',
        email: 'test4@test.ro',
        group: 'Admins',
        city: 'Bucuresti',
        expand: false,
        selected: false,
        image: ''
      }],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          showInTable: true,
          filterable: true
        },
        {
          name: 'email',
          field: 'email',
          required: true,
          editable: true,
          label: 'Email',
          align: 'left',
          type: 'email',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'group',
          field: 'group',
          required: true,
          editable: true,
          label: 'Grup utilizator',
          align: 'left',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'city',
          field: 'city',
          label: 'Oras',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          type: 'select',
          showInTable: true,
          options: ['Bucuresti', 'Cluj-Napoca', 'Craiova']
        },
        {
          name: 'imagine',
          field: 'imagine',
          label: 'Imagine',
          type: 'image',
          required: false,
          fixed: false,
          sortable: false,
          showInTable: false,
          editable: true
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        dense: true,
        dark: false,
        subgrid: true,
        editComponent: 'popupEdit',
        separator: 'horizontal',
        selection: false,
        visibleColumns: ['name', 'email', 'group'],
        title: 'Utilizatori' /* Asta ar trebui sa se trimita ca sa arata bine tabelul dar nu e obligatoriu */
      }
    }
  },
  computed: {
    // getUser () {
    //   return this.$store.state.user.user
    // }
  },
  components: { tableComponent },
  methods: {
    ...mapActions('user', [ 'userGet' ]),
    ...mapGetters('user', [ 'getUser' ])
  },
  mounted () {
    apiCall.setUpAxios()
    console.log('mounted', this.getUser())
    // apiCall.getCallApi('/users/' + this.getUser().id + '/user-roles/3', 'post')
    // console.log('api =>', Promise.resolve(api.service('menu').get()))
  }
}
</script>

<style scoped>

</style>
