<template>
  <q-page>
    <q-card class="col q-mt-md">
      <q-card-section>
        <q-toolbar-title>Pagina implicita</q-toolbar-title>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'home'
}
</script>
