<template>
  <q-page class="flex flex-center">
    <s-users></s-users>
    <q-card>
      <q-card-section>
        <q-toolbar-title>Pagina implicita pentru setari</q-toolbar-title>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import sUsers from './settings/s_users'
export default {
  name: 'settings_page',
  components: {
    sUsers
  }
}
</script>
