<template>
  <q-page class="col">
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <q-toolbar-title>Utilizator: {{getUser.name}}</q-toolbar-title>
      </q-card-section>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="userGeneral" label="Setari generale" />
          <q-tab name="userGalery" label="Setari avatar" />
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="userGeneral">
            <user-general-component
              :user="getUser"
            />
          </q-tab-panel>
          <q-tab-panel name="userGalery">
            <user-galery-component
              :user="getUser"
            />
          </q-tab-panel>
          <q-tab-panel name="userPermisiuni">
            <div class="text-h6">Movies</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </q-tab-panel>
        </q-tab-panels>
        </q-card-section>
<!--      <q-card-actions>-->
<!--        <q-space />-->
<!--        <q-btn-->
<!--          color="red"-->
<!--          label="Anuleaza"-->
<!--        />-->
<!--        <q-btn-->
<!--          color="secondary"-->
<!--          label="Salveaza"-->
<!--        />-->
<!--      </q-card-actions>-->
      </q-card>
  </q-page>
</template>

<script>
import userGeneralComponent from '../../components/user/userGeneralComponent'
import { mapGetters } from 'vuex'
import UserGaleryComponent from '../../components/user/userGaleryComponent'
export default {
  name: 'userPage',
  data () {
    return {
      tab: 'userGeneral'
    }
  },
  components: {
    UserGaleryComponent,
    userGeneralComponent
  },
  computed: {
    ...mapGetters('user', ['getUser'])
  },
  beforeMount () {
    console.log(this.getUser)
  }
}
</script>

<style scoped>

</style>
