<template>
  <q-page class="flex flex-center">
    <login_component></login_component>
  </q-page>
</template>

<script>
export default {
  name: 'login_page',
  components: {
    login_component: require('../../components/login/login.vue').default
  }
}
</script>

<style scoped>

</style>
