<template>
  <q-page class="flex flex-center">
    <new-password-component></new-password-component>
  </q-page>
</template>

<script>
export default {
  name: 'newPassword',
  components: {
    newPasswordComponent: require('../../components/recover/newPassword.vue').default
  }
}
</script>

<style scoped>

</style>
