<template>
  <recover-password-component></recover-password-component>
</template>

<script>
export default {
  name: 'recoverPassword_page',
  components: {
    recoverPasswordComponent: require('../../components/recover/recoverPassword.vue').default
  }
}
</script>

<style scoped>

</style>
