<template>
  <signup_component></signup_component>
</template>

<script>
export default {
  name: 'signup_page',
  components: {
    signup_component: require('../../components/signup/signup.vue').default
  }
}
</script>

<style scoped>

</style>
