<template>
  <div>
    <notification-component :notificationBag="notificationBag" v-if="error || success"></notification-component>
    <p id="info">
      Sending token
    </p>
  </div>
</template>

<script>
// var url = new URL(window.location.href)
// var token = url.searchParams.get('token')
// var obj = {
//   action: 'verifySignupLong',
//   value: token
// }

import api from 'src/api'

export default {
  name: 'verify',
  data () {
    return {
      url: new URL(window.location.href),
      obj: {
        action: 'verifySignupLong',
        value: ''
      },
      info: '',
      notificationBag: {},
      error: false,
      success: false
    }
  },
  components: {
    notificationComponent: () => import('../../components/helpers/notification.vue')
  },
  methods: {
    async checkToken () {
      this.obj.value = this.$route.query.token || false
      console.log(JSON.stringify(this.obj))
      console.log(this.obj)
      // var xhttp = new XMLHttpRequest()
      // xhttp.onreadystatechange = function () {
      //   if (this.readyState === 4 && this.status === 201) {
      //     // Typical action to be performed when the document is ready:
      //     this.info = 'Verification Successful for action <b>' + this.obj.action + '</b> and token <b>' + this.obj.value + '</b>'
      //   } else {
      //     this.info = xhttp.response
      //   }
      // }
      // xhttp.open('POST', 'http://localhost:3030/authmanagement', true)
      // xhttp.setRequestHeader('Content-Type', 'application/json')
      // xhttp.send(JSON.stringify(this.obj))
      try {
        await api.service('authManagement').create(this.obj)
        this.notificationBag = {
          type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
          position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
          textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
          color: 'orange', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
          icon: 'warning', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
          actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
          html: false, // trebuie trimis daca vrei ca mesajul sa fie html
          timeout: 4000, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
          message: 'Email success verified! Thanks for confirming your email! <br/> You will be redirected to login page!' // Asta e obligatoriu de trimis este mesajul afisat
        }
        this.error = false
        this.success = true
        setTimeout(() => {
          this.$router.push({ name: 'login' })
        }, 3990
        )
      } catch (e) {
        console.log(e)
        this.notificationBag = {
          type: 'error', // Tipul notificarii, exista 3 momentan: error, success, warning
          position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
          textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
          color: 'red', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
          icon: 'error', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
          actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
          html: false, // trebuie trimis daca vrei ca mesajul sa fie html
          timeout: 4000, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
          message: 'Cannot find the activation code! User was activated or not found for this activativation! <br/> You will be redirected to login page!' // Asta e obligatoriu de trimis este mesajul afisat
        }
        this.success = false
        this.error = true
        setTimeout(() => {
          this.$router.push({ name: 'login' })
        }, 3990)
      }
    }
  },
  beforeMount () {
    this.checkToken()
  }
}
</script>

<style scoped>

</style>
