<template>
<div>
  <div
    dense
    v-if="actions.actions.length <= 2">
      <q-btn
      v-for="(action, item) in actions.actions"
      :key="item"
      size="sm"
      :title="(action && action.label && action.label.length) ? action.label : ''"
      :icon="(action && action.icon && action.icon.length) ? action.icon : false"
      :color="(action && action.color && action.color.length) ? action.color : false"
      :flat="(action && action.flat) ? action.flat : false"
      :dense="(action && typeof action.dense !== 'undefined') ? action.dense : true"
      :ripple="(action && action.ripple) ? action.ripple : false"
      :label="(action && action.label && action.label.length) ? action.label : ''"
      :class="(action && action.class && action.class.length) ? action.class : 'text-white q-mr-sm q-pa-xs'"
      @click="call(action.action, [action.type, action.to, idKey, action.reloadAction])"
      ></q-btn>
  </div>
  <q-btn-dropdown
    dense
    v-if="actions && actions.actions.length > 2"
    :size="actions.size && actions.size.length ? actions.size : 'sm'"
    :color="actions.color && actions.color.length ? actions.color : 'primary'"
    :class="actions.class && actions.class.length ? actions.class : ''"
    :icon="actions.icon && actions.icon.length ? actions.icon : ''"
    :ripple="actions.ripple && actions.action.actionsGroup.length ? actions.ripple : false"
    :disable = "actions.disable && actions.disable.length ? actions.disable : false"
    :label="actions.label"
    key="actions"
  >
    <q-list>
      <q-item
        v-for="action in actions.actions"
        :key="action.label"
        clickable
        dense
        v-close-popup
        @click="call(action.action, [action.type, action.to, idKey, action.reloadAction])"
        :size="actions.size && actions.size.length ? actions.size : 'xs'"
        :color="action.color && action.color.length ? action.color : 'white'"
        :class="action.class && action.class.length ? action.class : ''"
      >
        <q-item-section
          avatar
          v-if="(action && action.icon && action.icon.length) ? action.icon: false"
        >
          <q-avatar
            :icon="action.icon"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label
          dense
          >
            {{action.label}}
          </q-item-label>
        </q-item-section>
      </q-item>
      </q-list>
    </q-btn-dropdown>
</div>
</template>

<script>
import popupEdit from './edit/popupEdit.vue'
import popupEdit2 from './edit/popupEdit2.vue'
import apiCall from '../../apiCall'
import { mapActions } from 'vuex'
export default {
  props: ['actions', 'data', 'currentUser', 'columns'],
  name: 'tableActions',
  computed: {
    idKey () {
      let temp = ''
      for (let item in this.columns) {
        if (this.columns[item].idKey) {
          temp = this.columns[item].name
        }
      }
      return temp
    }
  },
  methods: {
    ...mapActions('complexes', ['complexesSet']),
    ...mapActions('buildings', ['dataBuildings']),
    ...mapActions('flats', ['dataFlats']),
    view (args) {
      console.log(args)
    },
    edit (args) {
      if (args[0] && args[0] === 'router') {
        console.log(args)

        this.$router.push({ name: args[1], params: { 'id': this.data[this.idKey] } })
      } else {
        this.$q.dialog({
          component: this.editComponent === 'popupEdit' ? popupEdit2 : popupEdit,
          parent: this,
          rows: this.user,
          columns: this.columns
        }).onOk(() => {
          // console.log('OK')
        }).onCancel(() => {
          // console.log('Cancel')
        }).onDismiss(() => {
          // console.log('Called on OK or Cancel')
        })
      }
    },
    delete (args) {
      console.log(args)
      this.$q.dialog({
        title: 'Confirmare',
        message: 'Sigur vrei sa stergi randul respectiv?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK', this.data, '/' + args[1] + '/' + this.data[args[2]])
        /*
         * Exemplu pentru HARD delete
         */
        // apiCall.getCallApi('/' + args[1] + '/' + this.data[args[2]], 'delete').then(response => {
        //   // this.complexesSet()
        //   // this.dataBuildings()
        //   // this.dataFlats()
        // })
        /* ----------------------------------- */
        /*
         * Exemplu pentru soft delete
         */
        apiCall.getCallApi('/' + args[1] + '/' + this.data[args[2]], 'patch', { deletedAt: new Date() }).then(response => {
          if (args[3] && args[3].length) {
            this.$store.dispatch(args[3])
          } else {
            this.$router.go()
          }
        })
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    call (method, args = []) {
      this[method](args)
    }
  },
  beforeMount () {
  }
}
</script>

<style scoped>

</style>
