<template>
  <div class="q-pa-md">
    <q-table
      :data="data"
      :title="title"
      :dense="dense"
      :dark="dark"
      :selected-rows-label="getSelectedString"
      :selectedRows.sync="selectedRows"
      :curentSelected.sync="curentSelected"
      :selection="selection && selection.length ? selection : 'none'"
      :selected.sync="selected"
      :separator="separator && separator.length ? separator : 'horizontal'"
      :columns="columns"
      :pagination.sync="pagination"
      :visible-columns="visibleColumns"
      row-key="number"
      :loading="loading"
      no-data-label="Nu exista date"
      no-results-label="Nu exista rezultate pentru filtrarea aceasta"
      wrap-cells
    >
      <template v-slot:top="props">
        <div class="col-12 q-table__title" v-if="title && title.length">{{title}}</div>
        <q-select
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          display-value="Coloane"
          emit-value
          v-if="visibleColumns.length"
          map-options
          :options="columsCanBeHidden"
          option-value="name"
          style="min-width: 150px"
        />
        <q-space />
        <q-btn
          flat
          dense
          color="primary"
          label="Add row"
          @click="addRow"
        />
        <q-space />
        <q-input
          dense
          debounce="300"
          color="primary"
          v-model="filter"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
        <q-th v-if="selection || subgrid" auto-width>
          <q-checkbox
            v-if="selection && selection == 'multiple'"
            v-model="selectedRows"
            color="teal"
            :indeterminate-value="-1"
            :true-value="true"
            :false-value="false"
          />
        </q-th>
        <q-th
          :props="props"
          v-for="column in columsCanBeLooped"
          :key="column.name"
          headerStyle = "width: 50%"
          v-show="visibleColumns.includes(column.name) || column.fixed"
          :style="(column.width ? 'width: ' + column.width:'')"
        >
          {{ column.label }}
        </q-th>
          <q-th
            key="actions"
          >
            Actiuni
          </q-th>
          <q-th
            :props="props"
            v-for="column in hiddenColumns"
            :key="column.name"
            v-show="false"
          >
            {{ column.label }}
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-if="(selection) || (subgrid)" >
            <q-toggle
              dense
              v-model="props.row.selected"
              v-show="(selection && selection.length)"
              :true-value="true"
              :false-value="false"
            />
            <q-btn
              dense
              round
              flat
              :icon="props.row.expand ? 'arrow_drop_up' : 'arrow_drop_down'"
              @click="props.row.expand = !props.row.expand"
              v-if="props.row.subdata"
            />
          </q-td>
          <q-td
            :props="props"
            v-for="column in columsCanBeLooped"
            :key="column.name"
            v-show="visibleColumns.includes(column.name) || column.fixed"
            wrap-cells
          >
            {{props.row[column.name]}}
          </q-td>
          <q-td key="actions" :props="props">
            <table-actions
              :actions="props.row.actionsGroup"
              :data="props.row"
              :current-user="getUser"
              :columns="columns"
            />
          </q-td>
          <q-td
            v-for="column in hiddenColumns"
            :props="props"
            :key="column.name"
            v-show="false"
          >{{props.row[column.name]}}</q-td>
        </q-tr>
        <q-tr v-show="props.row.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left">{{ props.row.subdata }}</div>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ icon, message, filter }">
        <div class="full-width row flex-center text-accent q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            {{ message }}
          </span>
          <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import popupEdit from './edit/popupEdit.vue'
import popupEdit2 from './edit/popupEdit2.vue'
import tableActions from './actions'
import { mapGetters } from 'vuex'
export default {
  name: 'tableComponent',
  props: ['tableData', 'tableColumns', 'tableSettings'],
  components: {
    tableActions
  },
  computed: {
    ...mapGetters('user', ['getUser', 'getPermissions', 'getUserRole']),
    ...mapGetters('config', ['userMenuData', 'activePath']),
    columsCanBeHidden () {
      let temp = []
      for (let column in this.columns) {
        if (!this.columns[column].fixed && this.columns[column].showInTable) {
          if (typeof (this.columns[column]) === 'string' || typeof (this.columns[column]) === 'number') {
            temp.push(this.columns[column].name)
          } else {
            if (typeof (this.columns[column]) === 'object') {
              temp.push(this.columns[column])
            }
          }
        }
      }
      return temp
    },
    hiddenColumns () {
      let temp = []
      for (let column in this.columns) {
        if (this.columns[column].name !== 'actions' && this.columns[column].required && this.columns[column].showInTable === false) {
          temp.push(this.columns[column])
        }
      }
      return temp
    },
    countSelected () {
      let selectedElements = 0
      for (let item in this.data) {
        if (this.data[item].selected) {
          selectedElements++
        }
      }
      return selectedElements
    },
    columsCanBeLooped () {
      let temporary = []
      for (let column in this.columns) {
        if (this.columns[column].name !== 'actions' && this.columns[column].showInTable) {
          temporary.push(this.columns[column])
        }
      }
      return temporary
    }
  },
  data () {
    return {
      /* Nu este obligatoriu sa primim vreo setare pentru tabel de la setarea tabelului asa ca majoritatea le verificam la before mount (functia checkSettings) daca le primim iar daca nu mergem pe ce avem setat implicit */
      /* Start: settings */
      loading: true,
      dense: true, /* Afisare restransa */
      dark: false, /* Foloseste tema dark */
      subgrid: true, /* permite afisarea de subgriduri */
      separator: 'horizontal', /* Separatorul de celule */
      selection: false, /* Daca tabelul suporta selectia de rand atunci ce fel de selectie e: false, simple, multiple */
      title: '', /* Titlul tabelului */
      visibleColumns: [], /* Daca se trimite visible columns atunci care sunt acestea, daca nu e setat nu apare butonul care permite ascunderea de coloane */
      editComponent: 'popupEdit', /* Componenta folosita pentru editarea sau adaugare de elemenete */
      /* End: settings */
      selected: [],
      props: {
        selected: []
      },
      filter: '',
      curentSelected: [],
      selectedRows: false,
      selectionChecbox: {},
      pagination: {
        rowsPerPage: 50
      },
      data: [],
      columns: []
    }
  },
  methods: {
    checkActions () {
      // console.log('====ACTIONS====')
      for (let row in this.tableData) {
        if (this.tableData[row].action) {
          // console.log('Actiune')
        } else {
          if (this.tableData[row].actionsGroup) {
            // console.log('Grup de actiuni')
          } else {
            // console.log('Fara actiune')
          }
        }
      }
      // console.log('====ACTIONS====')
    },
    checkSettings () {
      /* Exista cate un if pentru fiecare setare pe care componenta le suporta ... am facut asta pentru ca daca avem nevoie sa extindem verificarile sa facem cate o functie mica pentru fiecare setare [da stiu sunt maniac cu divide et impera] */
      if (this.tableSettings) {
        if (this.tableSettings.dense) {
          this.dense = this.tableSettings.dense
        }
        if (this.tableSettings.dark) {
          this.dark = this.tableSettings.dark
        }
        if (this.tableSettings.subgrid) {
          this.subgrid = this.tableSettings.subgrid
        }
        if (this.tableSettings.separator) {
          this.separator = this.tableSettings.separator
        }
        if (this.tableSettings.selection) {
          this.selection = this.tableSettings.selection
        }
        if (this.tableSettings.title) {
          this.title = this.tableSettings.title
        }
        if (this.tableSettings.visibleColumns) {
          this.visibleColumns = this.tableSettings.visibleColumns
        }
        if (this.tableSettings.editComponent) {
          this.editComponent = this.tableSettings.editComponent
        }
      }
    },
    addRow () {
      this.$router.push({ name: this.tableSettings.addComponent, params: { 'id': 0 } })
    },
    edit (args) {
      this.$q.dialog({
        component: this.editComponent === 'popupEdit' ? popupEdit : popupEdit2,
        parent: this,
        rows: args,
        columns: this.columns
      }).onOk(() => {
        // console.log('OK')
      }).onCancel(() => {
        // console.log('Cancel')
      }).onDismiss(() => {
        // console.log('Called on OK or Cancel')
      })
    },
    call (method, args = []) {
      this[method](args)
    },
    getSelectedString () {
      return this.selected.length === 0 ? '' : `${this.selected.length} record${this.selected.length > 1 ? 's' : ''} selected of ${this.data.length}`
    },
    initSelectedRows (state) {
      for (let item in this.data) {
        this.data[item].selected = state
      }
    },
    updateLastIndex () {
      // console.log(this.pagination)
      /* firstRowIndex In caz ca pagina e 1 */
      if (parseInt(this.pagination.page) === 1) {
        this.pagination.firstRowIndex = 1
        if (this.data && this.data.length === this.pagination.rowsPerPage) {
          // console.log('Step 1.1')
          this.pagination.endRowIndex = this.pagination.rowsPerPage
        } else {
          // console.log('Step 1.2')
          /* endRowIndex in caz ca lungimea datelor este mai mica decat numarul de randuri pe pagina */
          if (this.data && this.data.length < this.pagination.rowsPerPage) {
            // console.log('Step 2.1')
            this.pagination.endRowIndex = this.data.length
          } else {
            // console.log('Step 2.2')
            /* endRowIndex in caz ca lungimea datelor este mai mare decat numarul de randuri pe pagina */
            this.pagination.endRowIndex = this.pagination.rowsPerPage
            if (this.pagination.page === this.pagination.lastPage) {
              this.pagination.endRowIndex = this.data.length % this.pagination.rowsPerPage
            }
          }
        }
      } else { /* firstRowIndex In caz ca pagina e mai mare de 1 */
        if (this.data && this.data.length === this.pagination.rowsPerPage) {
          // console.log('Step 1.1')
          this.pagination.endRowIndex = this.pagination.rowsPerPage
        } else {
          // console.log('Step 1.2')
          /* endRowIndex in caz ca lungimea datelor este mai mica decat numarul de randuri pe pagina */
          if (this.data && this.data.length < this.pagination.rowsPerPage) {
            // console.log('Step 2.1')
            this.pagination.endRowIndex = this.data.length
          } else {
            // console.log('Step 2.2')
            /* endRowIndex in caz ca lungimea datelor este mai mare decat numarul de randuri pe pagina */
            this.pagination.endRowIndex = this.pagination.rowsPerPage
            if (this.pagination.page === this.pagination.lastPage) {
              this.pagination.endRowIndex = this.data.length % this.pagination.rowsPerPage
            }
          }
        }
        this.pagination.firstRowIndex = (this.pagination.page - 1) * this.pagination.rowsPerPage + 1
      }
      /* endRowIndex in caz ca lungimea datelor este egala cu numarul de randuri pe pagina */
    }
  },
  watch: {
    'pagination': function (newVal, oldVal) {
      this.pagination.rowsPerPage = newVal.rowsPerPage
      this.pagination.sortBy = newVal.sortBy
      this.pagination.page = newVal.page
      this.pagination.descending = newVal.descending
      if (this.data && this.data.length) {
        let total = this.data.length /* Asta ar trebui trimis din backend ca sigur stim acolo cate recorduri avem */
        let temp = total - (total % this.pagination.rowsPerPage)
        if (temp >= this.pagination.rowsPerPage) {
          if (total % this.pagination.rowsPerPage) {
            this.pagination.lastPage = temp / this.pagination.rowsPerPage + 1
          } else {
            this.pagination.lastPage = temp / this.pagination.rowsPerPage
          }
        } else {
          this.pagination.lastPage = 1
        }
      } else {
        this.pagination.lastPage = this.pagination.page
      }
      this.updateLastIndex()
    },
    'pagination.page': function (newVal, oldVal) {
      this.updateLastIndex()
    },
    'pagination.rowsPerPage': function (newVal, oldVal) {
      this.updateLastIndex()
    },
    'selectedRows': function (newVal) {
      if (newVal !== -1) {
        this.initSelectedRows(newVal)
      }
    },
    'tableData': function (newVal) {
      if (newVal && newVal.length) {
        this.data = newVal
        this.checkActions()
        this.loading = false
      }
    },
    'tableSettings': function (newVal) {
      if (newVal && newVal.length) {
        // console.log('newTableSettings', newVal)
        this.tableSettings = newVal
        this.checkSettings()
      }
    },
    'countSelected': function (newVal) {
      // console.log(newVal)
      if (newVal === 0) {
        this.selectedRows = false
      } else {
        if (newVal === this.pagination.rowsPerPage) {
          this.selectedRows = true
        } else {
          if (newVal === this.pagination.endRowIndex) {
            this.selectedRows = true
          } else {
            if (newVal > 0 && newVal < this.pagination.rowsPerPage) {
              this.selectedRows = -1
            }
          }
        }
      }
    }
  },
  beforeMount () {
    this.checkSettings()
    this.checkActions()
    if (this.tableData && this.tableData.length) {
      this.data = this.tableData
    }
    if (this.tableColumns && this.tableColumns.length) {
      this.columns = this.tableColumns
    }
    /* Asta trebuie pastrat la urma :) */
    this.updateLastIndex()
  }
}
</script>

<style scoped>

</style>
