<template>
  <div class="recoverPassword">
    <notification-component :notificationBag="notificationBag" v-if="recoverError"></notification-component>
    <div v-if="recoverIn" class="container-loading">
      <img src="~assets/loading.gif" alt="Loading Icon">
    </div>
    <!--      <p v-if="loginError" class="error_login non-selectable"><q-icon name="error"></q-icon> {{ loginError }}</p>-->
    <!--      <p v-if="loginSuccessful" class="success_login non-selectable"><q-icon name="checked"></q-icon>Login Successful</p>-->
    <form @submit.prevent="newPasswordSubmit" v-if="recoverSent == false">
        <q-input
          ref="password"
          v-model="password"
          filled
          label="parola"
          :type="isPwd1 ? 'password' : 'text'"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere',
            val => passwordChecker(val) == true || 'Parola trebuie sa contina cel putin un numar, o majuscula si un semn special.'
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd1 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd1 = !isPwd1"
            />
          </template>
        </q-input>
        <q-input
          ref="password"
          v-model="password1"
          filled
          label="parola din nou"
          :type="isPwd2 ? 'password' : 'text'"
          :rules="[
            val => val == password || 'Cele doua campuri pentru parola trebuie sa fie identice ' + password
          ]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd2 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd2 = !isPwd2"
            />
          </template>
        </q-input>
      <button type="submit" class="publicButton non-selectable">Trimite</button>
    </form>
    <div class="q-pa-md" v-else>
      <p>Parola a fost modificata. Mergi la autentificare.</p>
      <router-link class="publicButton non-selectable" to="/" color="green">Autentificare</router-link>

    </div>
  </div>
</template>

<script>
export default {
  name: 'recoverPassword_component',
  components: {
    notificationComponent: () => import('../helpers/notification.vue')
  },
  data () {
    return {
      errorMessage: '',
      recoverError: false,
      recoverIn: false,
      password: '',
      password1: '',
      isPwd1: false,
      isPwd2: false,
      recoverSent: false,
      notificationBag: {}
    }
  },
  methods: {
    newPasswordSubmit: function () {
      this.recoverSent = true
    },
    passwordChecker: function (value) {
      let allowedSpecial = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]+/
      let lower = false
      let upper = false
      let numbers = false
      let special = false
      if (allowedSpecial.test(value)) {
        special = true
      }
      if (value.length >= 5) {
        if (/^\d+$/.test(value)) {
          numbers = true
        }
        for (let i = 0; i < value.length; i++) {
          if (isNaN(value[i] * 1)) {
            if (/[A-Z]|[\u0080-\u024F]/.test(value[i]) && value[i] === value[i].toUpperCase()) {
              upper = true
            }

            if (/[a-z]|[\u0080-\u024F]/.test(value[i]) && value[i] === value[i].toLowerCase()) {
              lower = true
            }
          } else {
            numbers = true
          }
        }

        if (numbers && upper && lower && special) {
          return true
        } else {
          return false
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
