<template>
  <div class="recoverPassword">
    <notification-component :notificationBag="notificationBag" v-if="recoverError"></notification-component>
    <div v-if="recoverIn" class="container-loading">
      <img src="~assets/loading.gif" alt="Loading Icon">
    </div>
    <!--      <p v-if="loginError" class="error_login non-selectable"><q-icon name="error"></q-icon> {{ loginError }}</p>-->
    <!--      <p v-if="loginSuccessful" class="success_login non-selectable"><q-icon name="checked"></q-icon>Login Successful</p>-->
    <form @submit.prevent="recoverSubmit" v-if="emailSent == false">
        <q-input
          ref="email"
          type="email"
          filled
          v-model="email"
          label="email"
          :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere',
            val => emailIsValid(val) == true || 'Introduceti o adresa de email valida'
            ]"
        />
      <button type="submit" class="publicButton non-selectable">Recuperare cont</button>
      <router-link class="publicButton non-selectable" to="/" color="green">Autentificare</router-link>
    </form>
    <div class="q-pa-md" v-else>
      <p>Emailul pentru recuperarea parolei a fost trimis!</p>
      <router-link class="publicButton non-selectable" to="/" color="green">Autentificare</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'recoverPassword_component',
  components: {
    notificationComponent: () => import('../helpers/notification.vue')
  },
  data () {
    return {
      errorMessage: '',
      recoverError: false,
      recoverIn: false,
      email: '',
      emailSent: false,
      notificationBag: {}
    }
  },
  methods: {
    recoverSubmit: function () {
      this.emailSent = true
    },
    emailIsValid: function (value) {
      if (value.length > 5) {
        return /\S+@\S+\.\S+/.test(value)
      }
    }
  }
}
</script>

<style scoped>
</style>
