<template>
  <q-form>
  <q-card-section>
    <q-list>
      <q-item class="row">
        <q-item-section class="col-5">
          <q-input
            :readonly="readOnly.name"
            :value="this.user.name"
            v-model="this.user.name"
            type="text"
            color="grey-6"
            class="text-grey-6"
            :input-class="readOnly.name ? 'text-grey-6':'text-grey-9'"
            hint="Numele complet"
            hide-hint
            name="name"
            label="Nume:"
          >
          </q-input>
          <q-input
            :readonly="readOnly.email"
            :value="this.user.email"
            v-model="this.user.email"
            type="email"
            color="grey-6"
            class="text-grey-6"
            :input-class="readOnly.email ? 'text-grey-6':'text-grey-9'"
            hint="Adresa de email"
            hide-hint
            name="email"
            label="Adresa de email:"
          >
          </q-input>
          <q-input
            :readonly="readOnly.phone"
            :value="this.user.phone"
            v-model="this.user.phone"
            type="tel"
            color="grey-6"
            class="text-grey-6"
            :input-class="readOnly.phone ? 'text-grey-6':'text-grey-9'"
            hint="Numarul de telefon"
            hide-hint
            name="phone"
            label="Telefon:"
          >
          </q-input>
          <q-input
            :readonly="readOnly.username"
            :value="this.user.username"
            v-model="this.user.username"
            type="text"
            color="grey-6"
            class="text-grey-6"
            :input-class="readOnly.username ? 'text-grey-6':'text-grey-9'"
            hint="Utilizatorul este un identificator unic al tau in aplicaties"
            hide-hint
            name="username"
            label="Utilizator:"
          >
          </q-input>
        </q-item-section>
        <q-space />
        <q-item-section class="col-5">
            <q-toolbar-title
              class="row"
            >Schimba parola</q-toolbar-title>
            <q-input
              :value="oldPassword"
              v-model="oldPassword"
              type="password"
              color="grey-6"
              class="row text-grey-6"
              :input-class="'text-grey-9'"
              hint="Parola actuala"
              hide-hint
              label="Parola veche:"
            >
            </q-input>
            <q-input
            :value="newPassword1"
            v-model="newPassword1"
            type="password"
            color="grey-6"
            class="text-grey-6"
            :input-class="'text-grey-9'"
            hint="Noua parola"
            hide-hint
            label="Noua parola:"
          >
          </q-input>
          <q-input
            :value="newPassword2"
            v-model="newPassword2"
            type="password"
            color="grey-6"
            class="row text-grey-6"
            :input-class="'text-grey-9'"
            hint="Noua parola din nou"
            hide-hint
            label="Noua parola din nou:"
          >
          </q-input>
        </q-item-section>
      </q-item>
      <q-item class="row hidden">
        <q-space />
        <q-item-section class="col-5 mdi-align-vertical-top hidden">
          <q-toolbar-title
            class="row"
          >Checkbox-uri (Habar n-am cum sa le denumesc)</q-toolbar-title>
          <q-checkbox
            v-model="this.user.terms_accepted"
            color="secondary"
            label="Termenii si conditiile"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.status"
            color="secondary"
            label="Status"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.temporary_access"
            color="secondary"
            label="Acess temporar"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.email_validated"
           authenticate color="secondary"
            label="Email verificat"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.email_changed"
            color="secondary"
            label="Email schimbat ?!?!"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.concent_accepted"
            color="secondary"
            label="concent_accepted ?!?!?!"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.isVerified"
            color="secondary"
            label="User verificat ?!?!"
            :true-value="1"
            :false-value="0"
          />
          <q-checkbox
            v-model="this.user.isSuperAdmin"
            color="secondary"
            label="Utilizatorul este Super Admin"
            :true-value="1"
            :false-value="0"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </q-card-section>
    <q-card-actions>
      <q-space />
      <q-btn
        color="red"
        label="Anuleaza"
      />
      <q-btn
        color="secondary"
        label="Salveaza"
      />
    </q-card-actions>
  </q-form>
</template>

<script>
export default {
  props: ['user', 'action'],
  name: 'userGeneralComponent',
  data () {
    return {
      newPassword2: '',
      newPassword1: '',
      oldPassword: '',
      placeholder: {
        name: 'Scrie ceva aici!!!'
      },
      readOnly: {
        name: false,
        email: false,
        phone: false,
        username: false
      }
    }
  },
  methods: {
    checkPlaceholder () {
      console.log('checkPlaceholder')
    }
  },
  beforeMount () {
    // console.log(this.user.terms_accepted)
  }
}
</script>

<style scoped>

</style>
