<template>
  <q-form>
    <q-card-section>
      <q-list>
        <q-item class="row">
          <q-item-section class="col-5 mdi-align-vertical-top">
            <q-toolbar-title
              class="row"
            >Adauga avatar</q-toolbar-title>
            <q-uploader
              url=""
              :factory="uploadFile"
              type="file"
              :send-raw="true"
              multiple
              label="Cel putin 500px x 500px si ratie (1:1)"
              accept=".png, .jpg, image/*"
              style="max-width: 300px"
            />
          </q-item-section>
<!--          <q-img-->
<!--            :src="image"-->
<!--            :ratio="16/9"-->
<!--            id="avatar"-->
<!--          />-->
          <img src="" alt="" id="avatar"/>
<!--          <img :src="'http://localhost:3030/users/' + this.user.id + '/image/1575554580809_Selection_008.png'" alt="" id="avatar"/>-->
          <q-space />
        </q-item>
      </q-list>
    </q-card-section>
  </q-form>
</template>

<script>
import apiCall from '../../apiCall'
// import axios from 'axios'
// import { LocalStorage } from 'quasar'
// const fs = require('fs')

export default {
  props: ['user', 'action'],
  name: 'userGaleryComponent',
  data () {
    return {
      image: ''
    }
  },
  methods: {
    uploadFile (file) {
      const fr = new FileReader()
      fr.readAsDataURL(file[0])
      fr.addEventListener('load', () => {
        this.uploadedImage = fr.result
        this.uploadFile = file[0]
        const formData = new FormData()
        formData.append('file', this.uploadFile)
        apiCall.getCallApi('/users/' + this.user.id + '/uploads?w=100&h=100', 'post', formData, {
          onUploadProgress: function (progressEvent) {
            let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total)
            console.log('MutationOnUploadProgress', percentCompleted)
          }
        })
          .then(response => {
            // const reader = new window.FileReader()
            // reader.readAsDataURL(response.data)
            // response.onload = () => {
            //   document.getElementById('avatar').setAttribute('src', response.result)
            // }
            this.getImage(response.data.url)
            console.log(response)
          })
          .catch(function (e) {
            // this.$store.dispatch('context/setNotification', { text: 'Couldn\'t upload file: ' + e.response.data, type: 'error' }, { root: true })
            console.log(e, e.response) /* eslint-disable-line no-console */
          })
      })
    },
    getImage (url) {
      console.log(this.user)
      if (!this.user.avatar || !this.user.avatar.name) {
        document.getElementById('avatar').setAttribute('src', '../../assets/icons/avatar.png')
      }
      url = url || '/users/' + this.user.id + '/image/' + this.user.avatar.name + '?w=100&h=100'

      apiCall.getCallApi(url, 'get', false, { responseType: 'blob' }, true)
        .then((reader) => {
          reader.onload = () => {
            document.getElementById('avatar').setAttribute('src', reader.result)
          }
        })
    }
  },
  mounted () {
    this.getImage()
  },
  beforeMount () {
  }
}
</script>

<style scoped>

</style>
