<template>
  <div
    class="q-layout__section--marginal bg-white text-grey-8 q-py-xs"
    style="box-shadow: 0 0 10px 2px rgba(0,0,0,0.2), 0 0px 10px rgba(0,0,0,0.24);"
  >
    <q-toolbar>
    <q-space />
    <label>&copy; RealImob</label>
    </q-toolbar>
  </div>
</template>

<script>
// import auth from 'src/auth'
export default {
  name: 'footerBar'
}
</script>

<style scoped>

</style>
