<template>
  <q-header overlay elevated class="bg-white text-grey-8 q-py-xs" height-hint="58" style="z-index: 10000">
    <q-toolbar>
      <q-btn
        flat
        dense
        v-show="showDrawerButton"
        round
        @click="updateDrawerButtonMini()"
        aria-label="Menu"
        icon="menu"
      />

      <q-btn
        flat
        no-caps
        no-wrap
        class="q-ml-xs"
        v-if="$q.screen.gt.xs"
        to="/main/"
        @click.native="updateActivePath('')"
      >
        <q-icon name="fab fa-youtube" color="red" size="28px" />
        <q-toolbar-title
          shrink
          class="text-weight-bold"
        >
          RealImob
        </q-toolbar-title>
      </q-btn>

      <q-space />

      <div class="YL__toolbar-input-container row no-wrap">
        <q-select
          class="bg-white col"
          v-model="selectComplexe"
          :display-value="selectComplexe && selectComplexe.label ? selectComplexe.label: 'Selecteaza un complex'"
          :options="options"
          label="Select a complex"
          stack-label
          :dense="dense"
          :options-dense="denseOpts"
        />
      </div>

      <q-space />

      <div class="q-gutter-sm row items-center no-wrap">
        <q-btn round dense flat color="grey-8" icon="video_call" v-if="$q.screen.gt.sm" style="display: none">
          <q-tooltip>Create a video or post</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-8" icon="apps" v-if="$q.screen.gt.sm">
          <q-tooltip>Apps</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-8" icon="message" v-if="$q.screen.gt.sm" style="display: none">
          <q-tooltip>Messages</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-8" icon="notifications">
          <q-badge color="red" text-color="white" floating>
            2
          </q-badge>
          <q-tooltip>Notifications</q-tooltip>
        </q-btn>
        <div class="q-gutter-sm row items-center no-wrap">

        <q-btn-dropdown
          round
          flat
        >
          <template v-slot:label>
            <div class="row items-center no-wrap">
              <q-avatar size="26px">
                <img src="../../assets/icons/avatar.png">
              </q-avatar>
            </div>
          </template>
          <q-list>
            <q-item
              clickable
              v-close-popup
              to="/user">
              <q-item-section avatar>
                <q-avatar icon="face" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Profil</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              clickable
              v-close-popup
              @click="logout">
              <q-item-section avatar>
                <q-avatar icon="logout" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Deconectare</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        </div>
      </div>
    </q-toolbar>
  </q-header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import auth from 'src/auth'
import apiCall from '../../apiCall'

export default {
  name: 'appHeader',
  data () {
    return {
      selectComplexe: [{ label: 'Selecteaza un complex', value: null }],
      dense: true,
      denseOpts: true,
      visibleApp: false,
      timeInactive: 0
    }
  },
  methods: {
    ...mapActions('complexes', ['complexesSet', 'setComplex']),
    ...mapActions('config', ['updateDrawerState', 'updateShowDrawerButton', 'updateDrawerButtonMini', 'updateActivePath']),
    logout () {
      return auth.signout()
    },
    getTimeBetween (oldestTimeStamp, closerTimeStamp) {
      var dateFuture = new Date(oldestTimeStamp)
      var dateNow = new Date(closerTimeStamp)

      let seconds = Math.floor((dateNow - (dateFuture)) / 1000)
      let minutes = Math.floor(seconds / 60)
      let hours = Math.floor(minutes / 60)
      let days = Math.floor(hours / 24)

      hours = hours - (days * 24)
      minutes = minutes - (days * 24 * 60) - (hours * 60)
      seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60)

      return this.pad(hours) + ':' + this.pad(minutes) + ':' + this.pad(seconds)
    },
    pad (number) {
      return (number < 10 ? '0' : '') + number
    }
  },
  watch: {
    // '$q.appVisible' (state) {
    //   const date = new Date()
    //   let inactivityData
    //
    //   if (!state) this.timeInactive = date.getTime()
    //   if (state) {
    //     // let inactivityTime = date.getTime() - this.timeInactive
    //
    //     inactivityData = {
    //       time: this.pad(date.getHours()) + ':' + this.pad(date.getMinutes()) + ':' + this.pad(date.getSeconds()) + ':' + date.getMilliseconds(),
    //       timestamp: date.getTime(),
    //       inactivityTime: this.getTimeBetween(this.timeInactive, date.getTime()),
    //       label: `App became ${state ? 'visible' : 'hidden'}`
    //     }
    //
    //     if (this.$q.sessionStorage.has('sessionUser')) {
    //       let item = this.$q.sessionStorage.getItem('sessionUser')
    //       item.timesLoggedIn += 1
    //       item.inactivityReport.push(inactivityData)
    //       this.$q.sessionStorage.set('sessionUser', item)
    //     }
    //     this.timeInactive = 0
    //   }
    // },
    'selectComplexe': function (newVal) {
      if (newVal !== undefined && newVal !== null && newVal.value !== null) {
        this.$q.localStorage.set('complex', newVal)
        this.showDrawerButton = true
      } else {
        if (this.$q.localStorage.has('complex')) {
          this.$q.localStorage.remove('complex')
          this.updateShowDrawerButton(false)
        }
      }

      if (newVal === null || newVal.value === null) {
        this.updateDrawerState(false)
        this.updateShowDrawerButton(false)
        this.setComplex({})
        this.updateActivePath('')
      } else {
        this.updateDrawerState(true)
        this.updateShowDrawerButton(true)
        this.$q.localStorage.set('complex', newVal)
        this.updateActivePath('')
        this.setComplex(newVal)
      }
    }
  },
  getters: {
    // ...mapGetters('config', ['showDrawerButton'])
  },
  computed: {
    ...mapGetters('complexes', ['getComplexesSet']),
    showDrawerButton: {
      get () {
        return this.$store.getters['config/showDrawerButton']
      },
      set (value) {
        this.updateShowDrawerButton(value)
      }
    },
    options () {
      let temp = []
      if (this.getComplexesSet && this.getComplexesSet.length) {
        temp.push({ label: 'Selecteaza un complex', value: null })
        for (let item in this.getComplexesSet) {
          temp.push({ label: this.getComplexesSet[item].name, value: this.getComplexesSet[item].id })
        }
      } else {
        temp.push({ label: 'Nu exista complexe', value: null })
      }
      return temp
    }
  },
  beforeMount () {
    apiCall.setUpAxios()
    this.complexesSet()

    if (this.$q.localStorage.has('complex')) {
      this.selectComplexe = this.$q.localStorage.getItem('complex')
    } else {
      this.selectComplexe = null
    }
    if (!this.selectComplexe) {
      this.updateDrawerState(false)
      this.updateShowDrawerButton(false)
    }
  }
}
</script>

<style scoped>

</style>
