<template>
  <q-drawer
    v-model="leftDrawerModel"
    :mini="showDrawerButtonMini"
    @mouseover="updateDrawerOnHover"
    @mouseout="updateDrawerOnHover"
    bordered
    overlay
    content-class="bg-grey-2 text-grey6 "
    :width="240"
  >
    <q-scroll-area class="fit">
      <div
        v-for="(item, index) in selectedMenu"
        :key="index"
      >
      <q-item-label
        header
        class="text-weight-bold text-uppercase"
        v-if="item"
      >
        {{item.name}}
      </q-item-label>
      <q-list padding v-if="item">
        <q-item
          v-for="(link, lindex) in item.childrens"
          :key="index + '.' + lindex"
          v-ripple
          clickable
          :to="link.slug"
          @click.native="updateActivePath(link.slug)"
        >
          <q-item-section
            avatar
          >
            <q-icon
              :color="activePath == link.slug ? 'grey-9' : 'grey-6'"
              :name="link.icon"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label :class="activePath == link.slug ? 'text-grey-9' : 'text-grey-6'">{{ link.name }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator class="q-mt-md q-mb-xs" />
      </q-list>
      </div>
      <q-list padding>
      <div class="q-px-md text-grey-6">
          <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
            <a
              v-for="button in buttons1"
              :key="button.text"
              class="YL__drawer-footer-link"
              href="javascript:void(0)"
            >
              {{ button.text }}
            </a>
          </div>
        </div>
        <div class="q-py-md q-px-md text-grey-6">
          <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
            <a
              v-for="button in buttons2"
              :key="button.text"
              class="YL__drawer-footer-link"
              href="javascript:void(0)"
            >
              {{ button.text }}
            </a>
          </div>
        </div>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'meniu',
  data () {
    return {
      complexSelectat: null,
      selectedMenu: [],
      buttons1: [
        { text: 'About' },
        { text: 'Copyright' },
        { text: 'Contact us' }
      ],
      buttons2: [
        { text: 'Terms' },
        { text: 'Privacy' },
        { text: 'Policy & Safety' }
      ]
    }
  },
  computed: {
    ...mapGetters('config', ['userMenuData', 'showDrawerButtonMini', 'showMiniModeForced', 'activePath']),
    ...mapGetters('complexes', ['complex']),
    leftDrawerModel: {
      get () {
        return this.$store.getters['config/leftDrawerOpen']
      },
      set () {
        this.updateDrawerState(true)
      }
    }
  },
  methods: {
    ...mapActions('config', ['updateDrawerState', 'updateShowDrawerButton', 'updateDrawerButtonMini', 'updateActivePath']),
    setMenu () {
      if (this.complex && this.complex.value && this.complex.value !== null) {
        if (this.userMenuData[this.complex.value]) {
          this.selectedMenu = this.userMenuData[this.complex.value]
        } else {
          this.selectedMenu = []
          this.updateDrawerState(false)
          this.updateShowDrawerButton(false)
        }
      } else {
        this.complexSelectat = null
        this.updateDrawerState(false)
      }
    },
    updateDrawerOnHover () {
      if (this.showMiniModeForced) {
        this.updateDrawerButtonMini(!this.showDrawerButtonMini)
      }
    },
    checkMenuLinkColor (link) {
      if (this.$router.currentRoute.path === link) {
        return 'grey-9'
      } else {
        return 'grey-6'
      }
    }
  },
  watch: {
    'leftDrawerModel': function (newVal) {
      this.updateDrawerState(newVal)
    },
    'complex': function (newVal) {
      if (newVal && newVal.value) {
        this.setMenu()
      } else {
        this.updateDrawerState(false)
      }
    }
  },
  beforeMount () {
    this.setMenu()
    this.leftDrawerModel = this.leftDrawerOpen
  }
}
</script>

<style lang="sass">
  .YL

    &__toolbar-input-container
      min-width: 100px
      width: 55%

    &__toolbar-input-btn
      border-radius: 0
      border-style: solid
      border-width: 1px 1px 1px 0
      border-color: rgba(0,0,0,.24)
      max-width: 60px
      width: 100%

    &__drawer-footer-link
      color: inherit
      text-decoration: none
      font-weight: 500
      font-size: .75rem

      &:hover
        color: #000
</style>
