<template><span class="agregator"></span></template>

<script>
export default {
  name: 'notification',
  props: ['notificationBag'],
  data () {
    return {
      params: {}
    }
  },
  methods: {
    showNotify () {
      // console.log(this.notificationBag)
      if (typeof this.notificationBag.type !== 'undefined') {
        if (this.notificationBag === 'error') {
          this.params.position = 'bottom'
          this.params.icon = 'error'
          this.params.color = 'red'
          this.params.textColor = 'white'
        }

        if (this.notificationBag === 'success') {
          this.params.position = 'bottom'
          this.params.icon = 'check'
          this.params.color = 'green'
          this.params.textColor = 'white'
        }

        if (this.notificationBag === 'warning') {
          this.params.position = 'bottom'
          this.params.icon = 'warning'
          this.params.color = 'orange'
          this.params.textColor = 'white'
        }

        if (typeof this.notificationBag.position !== 'undefined') {
          this.params.position = this.notificationBag.position
        }

        if (typeof this.notificationBag.textColor !== 'undefined') {
          this.params.textColor = this.notificationBag.textColor
        }

        if (typeof this.notificationBag.color !== 'undefined') {
          this.params.color = this.notificationBag.color
        }

        if (typeof this.notificationBag.icon !== 'undefined') {
          this.params.icon = this.notificationBag.icon
        }

        if (typeof this.notificationBag.timeout !== 'undefined') {
          this.params.timeout = this.notificationBag.timeout
        } else {
          this.params.timeout = 0
        }

        if (typeof this.notificationBag.html !== 'undefined') {
          this.params.html = this.notificationBag.html
        } else {
          this.params.html = false
        }

        this.params.actions = [{ icon: 'close', color: 'white' }]
        this.$q.notify.setDefaults(this.params)
        if (typeof this.notificationBag.message !== 'undefined') {
          this.$q.notify({
            message: this.notificationBag.message
          })
        }
      } else {
        // console.log(this.notificationBag)
      }
    }
  },
  beforeMount () {
    this.showNotify()
  },
  watch: {
    'notificationBag': function () {
      this.showNotify()
    }
  }
}
</script>

<style scoped>
  .agregator {
    height: 1px;
    width: 1px;
    position: absolute;
    visibility: hidden;
    display: none;
  }
</style>
