<template>
  <div>
    <fancy-background></fancy-background>
    <div class="fixed-center text-center" style="z-index: 1000">
      <p>
        <img
          src="~assets/sad.svg"
          style="width:30vw;max-width:150px;"
        >
      </p>
      <p class="text-faded text-white">Sorry, nothing here...<strong>(404)</strong></p>
      <q-btn
        color="secondary"
        style="width:200px;"
        to="/"
        label="Go back"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404',
  components: {
    fancyBackground: () => import('components/helpers/fancyBackground.vue')
  }
}
</script>
