<template>
  <q-page class="col">
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div class="text-h6">{{title}} {{dataFormBuilding.name}}</div>
    </q-card-section>
    <q-separator />
    <q-form
      style="padding-top: 15px"
      @submit.prevent="onSubmit"
      @reset="onCancelClick"
      class="q-grid"
    >
      <input type="hidden" :value="dataFormBuilding.idBuilding" name="buildingId" id="buildingId">
      <div class="row">
        <div class="col-5">
          <q-card-section>
          <q-select
            color="grey-6"
            class="text-grey-6"
            :options="residentialComplexes"
            v-model="dataFormBuilding.residential_complex_id"
            :display-value="dataFormBuilding.residential_complex_id ? selectedComplexLabel : 'Selecteaza un complex'"
            label="Complex rezindetial"
            :rules="[
                val => val.value || 'Trebuie sa selectezi un complex'
              ]"
          >
          </q-select>
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-select
              class="text-grey-6"
              color="grey-6"
              :options="buildingStatusesOptions"
              v-model="dataFormBuilding.statusc_id"
              :display-value="dataFormBuilding.statusc_id ? selectedBuildingStatusLabel : 'Selecteaza un status'"
              label="Situatie constructie"
              :rules="[
                val => val.value || 'Trebuie sa selectezi un status'
              ]"
            >
            </q-select>
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-input
              ref="inputName"
              type="text"
              color="grey-6"
              class="text-grey-6"
              v-model="dataFormBuilding.name"
              label="Nume"
              :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => val.length >= 2 || 'Minim 2 caractere'
                 ]"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
        <q-card-section>
          <q-select
            class="text-grey-6"
            color="grey-6"
            :options="salesStatuses"
            v-model="dataFormBuilding.statusv_id"
            :display-value="dataFormBuilding.statusv_id ? selectedSalesStatusLabel : 'Selecteaza un status'"
            label="Situatie vanzare"
            :rules="[
                val => val.value || 'Trebuie sa selectezi un status'
            ]"
          >
          </q-select>
        </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section
            class="row"
          >
            <q-input
              type="number"
              min="0"
              class="col-5 text-grey-6"
              color="grey-6"
              max="100"
              step="1"
              :value="dataFormBuilding.no_floors"
              v-model="dataFormBuilding.no_floors"
              label="Numar etaje"
              :rules="[
                  val => val !== '' || 'Campul este obligatoriu!',
                  val => val >= 1 || 'Nu poate fi mai mic decat 1'
                 ]"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section
            class="row"
          >
            <q-input
              type="number"
              min="0"
              class="col-5 text-grey-6"
              color="grey-6"
              max="1000"
              step="1"
              :value="dataFormBuilding.no_apartments"
              v-model="dataFormBuilding.no_apartments"
              label="Numar apartamente"
              :rules="[
                  val => val !== '' || 'Campul este obligatoriu!',
                  val => val >= 1 || 'Nu poate fi mai mic decat 1'
                 ]"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section
            class="row"
          >
            <q-input
              type="number"
              min="0"
              class="col-5 text-grey-6"
              color="grey-6"
              max="500"
              step="1"
              :value="dataFormBuilding.indoor_parking_places"
              v-model="dataFormBuilding.indoor_parking_places"
              label="Numar parcari interioare"
              :rules="[
                  val => val !== '' || 'Campul este obligatoriu!',
                  val => val >= 0 || 'Nu poate fi mai mic decat 0!'
                 ]"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section
            class="row"
          >
            <q-input
              type="number"
              min="0"
              class="col-5 text-grey-6"
              color="grey-6"
              max="1000"
              step="1"
              :value="dataFormBuilding.outdoor_parking_places"
              v-model="dataFormBuilding.outdoor_parking_places"
              label="Numar parcari exterioare"
              :rules="[
                  val => val !== '' || 'Campul este obligatoriu!',
                  val => val >= 0 || 'Nu poate fi mai mic decat 0'
                 ]"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-card-section>
            <q-toolbar-title class="text-grey-6">Descriere</q-toolbar-title>
            <q-editor
              v-model="dataFormBuilding.description"
              min-height="5rem"
            />
          </q-card-section>
        </div>
      </div>
      <!-- buttons example -->
      <q-separator />
      <q-card-actions align="right">
        <q-btn
          color="red"
          label="Anuleaza"
          @click="onCancelClick"
        />
        <q-btn
          type="submit"
          color="secondary"
          label="Salveaza"
        />
      </q-card-actions>
    </q-form>
  </q-card>
  </q-page>
</template>

<script>
// import { emailIsValid, checkIfIsValidRomanianPhoneNumber, passwordChecker } from '../../../helpers/helpers.js'
import { mapGetters } from 'vuex'
export default {
  name: 'popupEditBuilding',
  data () {
    return {
      id: this.$route.params.id,
      /* Start: elemente formular */
      dataFormBuilding: {
        idBuilding: 0,
        residential_complex_id: 0,
        statusc_id: 0,
        name: '',
        statusv_id: 0,
        no_floors: 0,
        no_apartments: 0,
        indoor_parking_places: 0,
        outdoor_parking_places: 0,
        description: ''
      },
      /* End: elemente formular */
      buildingStatusesOptions: [],
      complexesSet: [],
      salesStatuses: [],
      submitting: false,
      loopedTypes: ['text', 'number', 'email', 'phone'],
      columns: [
        {
          name: 'name',
          field: 'name',
          label: 'Nume',
          type: 'text',
          rules: [
            val => !!val || 'Campul este obligatoriu!'
          ]
        },
        {
          name: 'description',
          field: 'description',
          label: 'Descriere',
          type: 'longtext'
        },
        {
          name: 'residential_complex_id',
          field: 'residential_complex_id',
          label: 'Complex residential',
          type: 'select',
          options: [],
          rules: [
            val => !!val || 'Campul este obligatoriu!'
          ]
        },
        {
          name: 'no_floors',
          field: 'no_floors',
          label: 'Numar etaje',
          type: 'number',
          rules: [
            val => !!val || 'Campul este obligatoriu!'
          ]
        },
        {
          name: 'no_apartments',
          field: 'no_apartments',
          label: 'Numar de apartamente',
          type: 'number',
          rules: [
            val => !!val || 'Campul este obligatoriu!'
          ]
        },
        {
          name: 'statusc_id',
          field: 'statusc_id',
          label: 'Status constructie',
          type: 'select',
          options: [],
          rules: [
            val => !!val || 'Campul este obligatoriu!'
          ]
        }
      ]
    }
  },
  computed: {
    ...mapGetters('building', ['getActualViewEditAddBuilding', 'buildingStatuses']),
    ...mapGetters('complexes', ['getComplexesSet']),
    title () {
      if (this.id && this.id > 0) {
        return 'Editare cladire: '
      } else {
        return 'Adaugare'
      }
    },
    residentialComplexes () {
      let temp = this.complexesSet
      let response = []
      if (temp.length > 0) {
        for (let item in temp) {
          response.push({ value: temp[item].id, label: temp[item].name })
        }
      }
      return response
    },
    selectedComplexLabel () {
      if (this.dataFormBuilding.residential_complex_id && this.dataFormBuilding.residential_complex_id.label) {
        return this.dataFormBuilding.residential_complex_id.label
      }
      if (this.residentialComplexes.length > 0) {
        for (let item in this.residentialComplexes) {
          if (this.residentialComplexes[item].value === this.dataFormBuilding.residential_complex_id.value) {
            return this.residentialComplexes[item].label
          }
        }
      }
      return this.dataFormBuilding.residential_complex_id
    },
    selectedBuildingStatusLabel () {
      if (this.statusc_id && this.statusc_id.label) {
        return this.statusc_id.label
      }
      if (this.buildingStatusesOptions.length > 0) {
        for (let item in this.buildingStatusesOptions) {
          if (this.buildingStatusesOptions[item].value === this.dataFormBuilding.statusc_id.value) {
            return this.buildingStatusesOptions[item].label
          }
        }
      }
      return this.statusc_id
    },
    selectedSalesStatusLabel () {
      if (this.dataFormBuilding.statusv_id && this.dataFormBuilding.statusv_id.label) {
        return this.dataFormBuilding.statusv_id.label
      }
      if (this.salesStatuses.length > 0) {
        for (let item in this.salesStatuses) {
          if (this.salesStatuses[item].value === this.dataFormBuilding.statusv_id.value) {
            return this.salesStatuses[item].label
          }
        }
      }
      return this.dataFormBuilding.statusv_id
    }
  },
  watch: {
    'buildingStatuses': function (newVal) {
      // if (newVal && newVal.length > 0) {
      this.createBuildingStatuses()
      this.createSaleStatuses()
      // }
    },
    'getActualViewEditAddBuilding': function (newVal, oldVal) {
      // let residentialComplexesOptions = this.residentialComplexes
      let residential = this.residentialComplexes.findIndex(x => newVal.residential_complex_id === x.value)
      let constructionStatus = this.buildingStatusesOptions.findIndex(x => newVal.statusc_id === x.value)
      let saleStatus = this.salesStatuses.findIndex(x => newVal.statusv_id === x.value)
      this.dataFormBuilding.idBuilding = newVal.id
      this.dataFormBuilding.residential_complex_id = (residential !== -1 ? this.residentialComplexes[residential] : 0)
      this.dataFormBuilding.statusc_id = (constructionStatus !== -1 ? this.buildingStatusesOptions[constructionStatus] : 0)
      this.dataFormBuilding.name = newVal.name
      this.dataFormBuilding.statusv_id = (saleStatus !== -1 ? this.salesStatuses[saleStatus] : 0)
      this.dataFormBuilding.no_floors = newVal.no_floors
      this.dataFormBuilding.no_apartments = newVal.no_apartments
      this.dataFormBuilding.indoor_parking_places = newVal.indoor_parking_places
      this.dataFormBuilding.outdoor_parking_places = newVal.outdoor_parking_places
      this.dataFormBuilding.description = newVal.description
    },
    'getComplexesSet': function (newVal, oldVal) {
      this.complexesSet = newVal
    }
  },
  methods: {
    onSubmit () {
      this.submitting = true

      if (parseInt(this.$route.params.id) < 0) {
        // Do some error === url id is negative XOR is empty
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'The building requested is not a valid one!'
        })
      } else if (
        parseInt(this.dataFormBuilding.indoor_parking_places) < 0 ||
        parseInt(this.dataFormBuilding.outdoor_parking_places) < 0 ||
        parseInt(this.dataFormBuilding.no_floors) < 0 ||
        parseInt(this.dataFormBuilding.no_apartments) < 0) {
        // Do some error for negative XOR empty is no resolved
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'error',
          message: 'You need to complete all fields!'
        })
      } else if (
        !this.dataFormBuilding.statusv_id.value ||
        !this.dataFormBuilding.residential_complex_id.value ||
        !this.dataFormBuilding.statusc_id.value) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'error',
          message: 'Some input\'s are not completed or don\'t have accepted values!'
        })
      } else {
        this.onOKClick()
      }
      this.submitting = false
    },
    checkSettings () {
      if (this.editSettings) {
        if (this.editSettings.title) {
          this.title = this.editSettings.title
        }
      }
    },
    createBuildingStatuses () {
      if (this.buildingStatuses.length > 0) {
        for (let item in this.buildingStatuses) {
          if (this.buildingStatuses[item] && this.buildingStatuses[item].for_construction === 1) {
            this.buildingStatusesOptions.push({
              value: this.buildingStatuses[item].id,
              label: this.buildingStatuses[item].name
            })
          }
        }
      }
      console.log(this.buildingStatusesOptions)
    },
    createSaleStatuses () {
      if (this.buildingStatuses.length > 0) {
        for (let item in this.buildingStatuses) {
          if (this.buildingStatuses[item] && this.buildingStatuses[item].for_construction !== 1) {
            this.salesStatuses.push({
              value: this.buildingStatuses[item].id,
              label: this.buildingStatuses[item].name
            })
          }
        }
      }
      console.log(this.salesStatuses)
    },
    onOKClick () {
      this.$q.loading.show()
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      let dataTosave = {}
      dataTosave.id = parseInt(this.id) === 0 || parseInt(this.id) < 0 ? false : parseInt(this.id)

      dataTosave.data = {
        name: this.dataFormBuilding.name,
        description: this.dataFormBuilding.description,
        residential_complex_id: parseInt(this.dataFormBuilding.residential_complex_id.value),
        no_floors: parseInt(this.dataFormBuilding.no_floors),
        no_apartments: parseInt(this.dataFormBuilding.no_apartments),
        statusc_id: parseInt(this.dataFormBuilding.statusc_id.value),
        statusv_id: parseInt(this.dataFormBuilding.statusv_id.value),
        indoor_parking_places: parseInt(this.dataFormBuilding.indoor_parking_places),
        outdoor_parking_places: parseInt(this.dataFormBuilding.outdoor_parking_places)
      }
      console.log('from template ', dataTosave)
      this.$store.dispatch('building/saveBuilding', dataTosave).then(response => {
        if (response) {
          this.$q.loading.hide()
          this.$router.push({ name: 'rc_buildings' })
        }
      })
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      // this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.$store.dispatch('building/dataActualViewEditAddBuilding', this.$route.params.id)
    }
  },
  beforeMount () {
    this.complexesSet = this.getComplexesSet
    this.$store.dispatch('building/getStatusesData').then(x => {
      if (this.$route && this.$route.params && this.$route.params.id && this.$route.params.id > 0) {
        this.$store.dispatch('building/dataActualViewEditAddBuilding', this.$route.params.id)
      }
    })
  }
}
</script>

<style scoped>

</style>
