<template>
  <q-page class="col"
  >
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div class="text-h6">{{title}} {{dataFormFlat.name}}</div>
      </q-card-section>
      <q-separator />
      <q-form style="padding-top: 15px"
              @submit.prevent="onSubmit"
              @reset="onCancelClick"
              class="q-grid"
      >
        <input type="hidden" :value="dataFormFlat.idFlat" name="flatId" id="flatId">
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-select
                color="grey-6"
                class="text-grey-6"
                :options="buildings"
                v-model="dataFormFlat.building_id"
                :display-value="dataFormFlat.building_id ? selectedBuildingLabel : 'Selecteaza o cladire'"
                label="Cladire"
                :rules="[
                val => val.value || 'Trebuie sa selectezi o cladire'
              ]"
              >
              </q-select>
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-select
                class="text-grey-6"
                color="grey-6"
                :options="flatStatusesOptions"
                v-model="dataFormFlat.statusc_id"
                :display-value="dataFormFlat.statusc_id ? selectedFlatStatusLabel : 'Selecteaza un status'"
                label="Situatie constructie"
                :rules="[
                val => val.value || 'Trebuie sa selectezi un status'
              ]"
              >
              </q-select>
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputName"
                type="text"
                color="grey-6"
                class="text-grey-6"
                v-model="dataFormFlat.name"
                label="Nume"
                :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => val.length >= 2 || 'Minim 2 caractere'
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-select
                class="text-grey-6"
                color="grey-6"
                :options="salesStatuses"
                v-model="dataFormFlat.statusv_id"
                :display-value="dataFormFlat.statusv_id ? selectedSalesStatusLabel : 'Selecteaza un status'"
                label="Situatie vanzare"
              >
              </q-select>
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputRoomNumber"
                type="number"
                color="grey-6"
                class="text-grey-6"
                v-model="dataFormFlat.no_rooms"
                label="Numar camere"
                :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputFloor"
                type="text"
                color="grey-6"
                class="text-grey-6"
                v-model="dataFormFlat.floor"
                label="Etaj"
                :rules="[
                  val => String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputArea"
                type="number"
                color="grey-6"
                class="text-grey-6"
                step="0.01"
                :value="parseFloat(dataFormFlat.area_sqm)"
                v-model="dataFormFlat.area_sqm"
                label="Suprafata"
                :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputIndoorParking"
                type="number"
                color="grey-6"
                class="text-grey-6"
                :value="dataFormFlat.no_parking_indoor"
                v-model="dataFormFlat.no_parking_indoor"
                label="Locuri parcare interior"
                :rules="[
                  val => !!String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputOutdoorParking"
                type="number"
                color="grey-6"
                class="text-grey-6"
                :value="dataFormFlat.no_parking_outdoor"
                v-model="dataFormFlat.no_parking_outdoor"
                label="Locuri parcare exeterior"
                :rules="[
                  val => !!String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputPrice"
                type="number"
                color="grey-6"
                class="text-grey-6"
                :value="dataFormFlat.price_net"
                v-model="dataFormFlat.price_net"
                label="Pret net"
                :rules="[
                  val => !!String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputArea"
                type="number"
                color="grey-6"
                class="text-grey-6"
                :value="dataFormFlat.vat"
                v-model="dataFormFlat.vat"
                label="TVA"
                :rules="[
                  val => !!String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputFloor"
                type="text"
                color="grey-6"
                class="text-grey-6"
                :value="dataFormFlat.currency"
                v-model="dataFormFlat.currency"
                label="Moneda"
                :rules="[
                  val => !!String(val).length || 'Campul este obligatoriu!',
                 ]"
              />
            </q-card-section>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <q-card-section>
              <q-toolbar-title class="text-grey-6">Descriere</q-toolbar-title>
              <q-editor
                v-model="dataFormFlat.description"
                min-height="5rem"
              />
            </q-card-section>
          </div>
        </div>
        <!-- buttons example -->
        <q-separator />
        <q-card-actions align="right">
          <q-btn
            color="red"
            label="Anuleaza"
            @click="onCancelClick"
          />
          <q-btn
            type="submit"
            color="secondary"
            label="Salveaza"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'flatsEditViewAdd',
  data () {
    return {
      id: this.$route.params.id,
      salesStatuses: [],
      flatStatusesOptions: [],
      dataFormFlat: {
        name: '',
        idFlat: this.$route.params.id,
        statusv_id: 0,
        statusc_id: 0,
        building_id: 0,
        description: '',
        no_rooms: 0,
        area_sqm: 0,
        no_parking_indoor: 0,
        no_parking_outdoor: 0,
        price_net: 0,
        vat: 0,
        currency: ''
      }
    }
  },
  methods: {
    createFlatStatuses () {
      if (this.flatStatuses.length > 0) {
        for (let item in this.flatStatuses) {
          if (this.flatStatuses[item] && this.flatStatuses[item].for_construction === 1) {
            this.flatStatusesOptions.push({
              value: this.flatStatuses[item].id,
              label: this.flatStatuses[item].name
            })
          }
        }
      }
    },
    createSaleStatuses () {
      if (this.flatStatuses.length > 0) {
        for (let item in this.flatStatuses) {
          if (this.flatStatuses[item] && this.flatStatuses[item].for_construction !== 1) {
            this.salesStatuses.push({
              value: this.flatStatuses[item].id,
              label: this.flatStatuses[item].name
            })
          }
        }
      }
      console.log(this.salesStatuses)
    },
    onSubmit () {
      let dataTosave = {}
      dataTosave.id = parseInt(this.id) === 0 || parseInt(this.id) < 0 ? false : parseInt(this.id)

      dataTosave.data = {
        name: this.dataFormFlat.name,
        statusv_id: this.dataFormFlat.statusv_id,
        statusc_id: this.dataFormFlat.statusc_id,
        building_id: this.dataFormFlat.building_id,
        description: this.dataFormFlat.description,
        no_rooms: this.dataFormFlat.no_rooms,
        area_sqm: this.dataFormFlat.area_sqm,
        no_parking_indoor: this.dataFormFlat.no_parking_indoor,
        no_parking_outdoor: this.dataFormFlat.no_parking_outdoor,
        price_net: this.dataFormFlat.price_net,
        vat: this.dataFormFlat.vat,
        currency: this.dataFormFlat.currency
      }
    },
    onCancelClick () {
      this.$store.dispatch('flat/dataActualViewEditAddFlat', this.$route.params.id)
    }
  },
  computed: {
    ...mapGetters('flat', ['getActualViewEditAddFlat', 'flatStatuses']),
    title () {
      if (this.id && this.id > 0) {
        return 'Editare apartament: '
      } else {
        return 'Adaugare'
      }
    },
    buildings () {
      let temp = this.$store.getters['buildings/getDataBuildings']
      let response = []
      if (temp.length > 0) {
        for (let item in temp) {
          response.push({ value: temp[item].id, label: temp[item].name })
        }
      }
      return response
    },
    selectedFlatStatusLabel () {
      if (this.dataFormFlat.statusc_id && this.dataFormFlat.statusc_id.label) {
        return this.dataFormFlat.statusc_id.label
      }
      if (this.flatStatusesOptions.length > 0) {
        for (let item in this.flatStatusesOptions) {
          if (this.flatStatusesOptions[item].value === this.dataFormFlat.statusc_id.value) {
            return this.flatStatusesOptions[item].label
          }
        }
      }
      return this.statusc_id
    },
    selectedSalesStatusLabel () {
      if (this.dataFormFlat.statusv_id && this.dataFormFlat.statusv_id.label) {
        return this.dataFormFlat.statusv_id.label
      }
      if (this.salesStatuses.length > 0) {
        for (let item in this.salesStatuses) {
          if (this.salesStatuses[item].value === this.dataFormFlat.statusv_id.value) {
            return this.salesStatuses[item].label
          }
        }
      }
      return this.dataFormFlat.statusv_id
    },
    selectedBuildingLabel () {
      if (this.dataFormFlat.building_id && this.dataFormFlat.building_id.label) {
        return this.dataFormFlat.building_id.label
      }
      if (this.buildings.length > 0) {
        for (let item in this.buildings) {
          if (this.buildings[item].value === this.dataFormFlat.building_id.value) {
            return this.buildings[item].label
          }
        }
      }
      return this.dataFormFlat.building_id
    }
  },
  watch: {
    'flatStatuses': function (newVal) {
      if (newVal) {
        this.createFlatStatuses()
        this.createSaleStatuses()
      }
    },
    'getActualViewEditAddFlat': function (newVal) {
      let building = this.buildings.find(x => newVal.building_id === x.value)
      let saleStatus = this.salesStatuses.find(x => newVal.statusv_id === x.value)
      let constructionStatus = this.flatStatusesOptions.find(x => newVal.statusc_id === x.value)

      this.dataFormFlat.idFlat = newVal.id
      this.dataFormFlat.building_id = building || 0
      this.dataFormFlat.statusc_id = constructionStatus || 0
      this.dataFormFlat.name = newVal.name
      this.dataFormFlat.no_rooms = parseInt(newVal.no_rooms)
      this.dataFormFlat.statusv_id = saleStatus || 0
      this.dataFormFlat.floor = newVal.floor
      this.dataFormFlat.area_sqm = newVal.area_sqm
      this.dataFormFlat.no_parking_indoor = newVal.no_parking_indoor
      this.dataFormFlat.no_parking_outdoor = newVal.no_parking_outdoor
      this.dataFormFlat.price_net = newVal.price_net
      this.dataFormFlat.vat = newVal.vat
      this.dataFormFlat.currency = newVal.currency
      this.dataFormFlat.description = newVal.description
    }
  },
  beforeMount () {
    this.$store.dispatch('buildings/dataBuildings')
    this.$store.dispatch('flat/getStatusesData')
    if (this.$route && this.$route.params && this.$route.params.id && this.$route.params.id > 0) {
      this.$store.dispatch('flat/dataActualViewEditAddFlat', this.$route.params.id)
    }
  }
}
</script>

<style scoped>

</style>
