<template>
  <q-page class="col">
    <notification-component :notificationBag="notificationBag" v-if="notificationBag.hasOwnProperty('show') && notificationBag.show"></notification-component>
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div class="text-h6">{{title}} {{dataFormComplex.name}}</div>
    </q-card-section>
    <q-separator />
    <q-form
      style="padding-top: 15px"
      @submit="onOKClick"
      @reset="onCancelClick"
      class="q-grid"
    >
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-input
              ref="inputComplexName"
              type="text"
              v-model="dataFormComplex.name"
              label="Nume"
              class="col-5 text-grey-6"
              color="grey-6"
              :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => val.length >= 2 || 'Minim 2 caractere'
                 ]"
            >
            </q-input>
          </q-card-section >
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
          <q-select
            :options="[]"
            v-model="dataFormComplex.company_id"
            label="Companie"
            class="col-5 text-grey-6"
            color="grey-6"
          />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-select
              :options="[]"
              v-model="dataFormComplex.contact_id"
              label="Contact general"
              class="col-5 text-grey-6"
              color="grey-6"
              />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-select
              :options="[]"
              v-model="dataFormComplex.owner_contact_id"
              label="Contact proprietar"
              class="col-5 text-grey-6"
              color="grey-6"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-checkbox
              label="Public"
              v-model="dataFormComplex.public"
              class="col-5 text-grey-6"
              color="grey-6"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-checkbox
              label="Arhivat"
              v-model="dataFormComplex.archived"
              class="col-5 text-grey-6"
              color="grey-6"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-select
              :options="[{label: 'Romana', value:'ro'}]"
              v-model="dataFormComplex.language"
              label="Limba"
              class="col-5 text-grey-6"
              color="grey-6"
              :display-value="dataFormComplex.language.value ? dataFormComplex.language.label : 'Selecteaza o limba'"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-select
              :options="[{label: 'Romania', value:'RO'}]"
              v-model="dataFormComplex.language"
              label="Tara"
              class="col-5 text-grey-6"
              color="grey-6"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-input
              class="col-5 text-grey-6"
              color="grey-6"
              label="Email general"
              v-model="dataFormComplex.email"
              type="email"
              :rules="[
            val => !!val || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere',
            val => emailValid(val) === true || 'Introduceti o adresa de email valida'
            ]"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-input
              class="col-5 text-grey-6"
              color="grey-6"
              label="Telefon general"
              v-model="dataFormComplex.phone"
              type="phone"
              :rules="[
                val => checkphone(val) === true || 'Introduceti un numar de telefon valid'
              ]"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-card-section>
            <q-select
              :options="FnSettlementsOptions"
              v-model="dataFormComplex.settlement_id"
              :display-value="dataFormComplex.settlement_id.label.length ? dataFormComplex.settlement_id.label : 'Selecteaza o localitate'"
              use-input
              label="Localitate"
              class="col-5 text-grey-6"
              color="grey-6"
              @filter="filterFn"
            />
          </q-card-section>
        </div>
        <q-space />
        <div class="col-5">
          <q-card-section>
            <q-input
              label="Cod postal"
              class="col-5 text-grey-6"
              color="grey-6"
              v-model="dataFormComplex.postal_code"
              type="text"
            />
          </q-card-section>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <q-card-section>
          <q-input
            label="Adresa"
            class="col-5 text-grey-6"
            color="grey-6"
            v-model="dataFormComplex.address_body"
            :rules="[
              val => !!val || 'Campul este obligatoriu!',
              val => val.length >= 5 || 'Minim 5 caractere'
            ]"
          />
          </q-card-section>
        </div>
      </div>
      <q-separator />
      <q-card-actions align="right">
        <q-btn
          color="red"
          label="Anuleaza"
          @click="onCancelClick"
        />
        <q-btn
          type="submit"
          color="secondary"
          label="Salveaza"
        />
      </q-card-actions>
    </q-form>
    <!-- buttons example -->
  </q-card>
  </q-page>
</template>

<script>
import { checkIfIsValidRomanianPhoneNumber, emailIsValid } from '../../../../helpers/helpers'
import { mapGetters } from 'vuex'
export default {
  name: 'popupEditBuilding',
  components: {
    notificationComponent: () => import('../../../../components/helpers/notification')
  },
  data () {
    return {
      id: this.$route.params.id,
      FnSettlementsOptions: [],
      settlementsOptions: [],
      dataFormComplex: {
        name: '',
        company_id: 0,
        contact_id: 0,
        owner_contact_id: 0,
        public: false,
        settlementsOptions: {},
        archived: false,
        language: { label: 'Romana', value: 'ro' },
        country: { label: 'Romania', value: 'RO' },
        email: '',
        phone: '',
        settlement_id: { value: 0, label: 'Selecteaza o localitate' },
        postal_code: '',
        address_body: ''
      },
      notificationBag: {
        show: false
      }
    }
  },
  computed: {
    ...mapGetters('complex', ['getActualViewEditAddComplex']),
    ...mapGetters('settlements', ['getDataSettlementsOptions']),
    title () {
      if (this.id && this.id > 0) {
        return 'Editare complex: '
      } else {
        return 'Adaugare complex: '
      }
    }
  },
  watch: {
    'getDataSettlementsOptions': function (newVal) {
      this.settlementsOptions = newVal
      this.selectedSettlementLabel()
    },
    'getActualViewEditAddComplex': function (newVal) {
      this.dataFormComplex.name = newVal.name
      if (newVal && newVal.company_id) {
        this.dataFormComplex.company_id = parseInt(newVal.company_id)
      } else {
        this.dataFormComplex.company_id = 0
      }
      if (newVal && newVal.contact_id) {
        this.dataFormComplex.contact_id = parseInt(newVal.contact_id)
      } else {
        this.dataFormComplex.contact_id = 0
      }
      if (newVal && newVal.owner_contact_id) {
        this.dataFormComplex.owner_contact_id = parseInt(newVal.owner_contact_id)
      } else {
        this.dataFormComplex.owner_contact_id = 0
      }
      this.dataFormComplex.public = (parseInt(newVal.public) === 1)
      this.dataFormComplex.archived = (parseInt(newVal.archived) === 1)
      this.dataFormComplex.email = newVal.email
      this.dataFormComplex.phone = newVal.phone
      // console.log(newVal.settlement_id)
      this.dataFormComplex.settlement_id = { value: parseInt(newVal.settlement_id), label: '' }
      this.dataFormComplex.postal_code = newVal.postal_code
      this.dataFormComplex.address_body = newVal.address_body
    }
  },
  methods: {
    emailValid (val) {
      return emailIsValid(val)
    },
    checkphone (val) {
      return checkIfIsValidRomanianPhoneNumber(val)
    },
    selectedSettlementLabel () {
      if (this.dataFormComplex.settlement_id && this.dataFormComplex.settlement_id.label && this.dataFormComplex.settlement_id.label.length) {
        this.dataFormComplex.settlement_id.label = this.dataFormComplex.settlement_id.label
      }
      let temp = this.settlementsOptions.findIndex(val => parseInt(val.value) === parseInt(this.dataFormComplex.settlement_id.value))
      if (temp !== -1) {
        this.dataFormComplex.settlement_id.label = this.settlementsOptions[temp].label
      }
    },
    filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.FnSettlementsOptions = this.settlementsOptions
        } else {
          const needle = val.toLowerCase()
          this.FnSettlementsOptions = this.settlementsOptions.filter(
            (v) => {
              return v.label.toLowerCase().indexOf(needle) > -1
            }
          )
        }
      })
    },
    onOKClick () {
      this.$q.loading.show()
      let dataToSave = {}
      dataToSave.id = parseInt(this.id) === 0 || parseInt(this.id) < 0 ? false : parseInt(this.id)

      dataToSave.data = {
        name: this.dataFormComplex.name,
        company_id: this.dataFormComplex.company_id,
        contact_id: this.dataFormComplex.contact_id,
        owner_contact_id: this.dataFormComplex.owner_contact_id,
        public: this.dataFormComplex.public,
        archived: this.dataFormComplex.archived,
        language: 'ro',
        country: 'RO',
        email: this.dataFormComplex.email,
        phone: this.dataFormComplex.phone,
        settlement_id: this.dataFormComplex.settlement_id.value,
        postal_code: this.dataFormComplex.postal_code,
        address_body: this.dataFormComplex.address_body
      }
      this.$store.dispatch('complex/saveComplex', dataToSave).then(response => {
        if (response) {
          this.$q.loading.hide()
          this.$router.push({ name: 'rc_residential_complexes' })
        }
      })
      this.$emit('ok')
    },

    onCancelClick () {
      // we just need to hide dialog
      this.$store.dispatch('complex/dataActualViewEditAddComplex', this.$route.params.id)
    }
  },
  beforeMount () {
    this.$store.dispatch('settlements/dataSettlements')
    if (this.$route && this.$route.params && this.$route.params.id && this.$route.params.id > 0) {
      this.$store.dispatch('complex/dataActualViewEditAddComplex', this.$route.params.id)
    } else {
      console.error('There is no complex key set!')
    }
  }
}
</script>

<style scoped>

</style>
