<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 's_documents_types',
  data () {
    return {
      documentsTypes: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'documents_type_id',
          field: 'id',
          required: true,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: true,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: true,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'inactive',
          field: 'inactive',
          label: 'Activ?',
          required: false,
          sortable: false,
          editable: true,
          align: 'center',
          fixed: true,
          type: 'number',
          showInTable: true
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'inactive']
      }
    }
  },
  computed: {
    ...mapGetters('documentsTypes', ['getDataDocumentsTypes'])
  },
  methods: {
    ...mapActions('user', ['userGet']),
    ...mapGetters('user', ['getUser']),
    ...mapActions('documentsTypes', ['dataDocumentsTypes']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.documentsTypes) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          uid: this.documentsTypes[item].id,
          name: this.documentsTypes[item].name,
          inactive: this.documentsTypes[item].inactive === '1' ? '-' : '*',
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'documentsTypeEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'documentsType'
              }
            ]
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataDocumentsTypes': function (newVal) {
      this.documentsTypes = newVal
    },
    'documentsTypes': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataDocumentsTypes()
    this.documentsTypes = this.getDataDocumentsTypes
  },
  mounted () {
    // this.documentsTypes = this.getDataDocumentsTypes
  }
}

</script>

<style scoped>

</style>
