<template>
  <q-page class="col">
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <q-toolbar-title>Permisiuni</q-toolbar-title>
      </q-card-section>
      <q-card-section>
      <q-splitter
          v-model="splitterModel"
        >
          <template
            style="width: 150px;"
            class="q-mt-lg"
            v-slot:before>
            <q-tabs
              v-model="tab"
              vertical
              dense
              class="q-mt-xl text-grey text-left"
              active-color="primary"
              indicator-color="transparent"
              align="justify"
              narrow-indicator
            >
              <q-tab
                v-for="(role, index) in roles"
                :key="index"
                :name="tab"
                @click="setRole(role)"
                :label="role.name" />
            </q-tabs>
          </template>

          <template v-slot:after>
            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="primary"
              indicator-color="primary"
              align="justify"
              narrow-indicator
            >
              <q-tab name="operational" label="Operationale" />
              <q-tab name="business" label="Business" />
            </q-tabs>
            <q-tab-panels
              v-model="tab"
              animated
              transition-prev="jump-up"
              transition-next="jump-up"
            >
              <q-tab-panel name="operational">
                <div
                  class="text-h4 q-mb-md"
                  v-if="role !== '' && parseInt(role.is_superadmin)"
                >
                  {{!role || !role.name || !(role.name.length === 0) ? role.name  : 'Alege un rol'}}
                </div>
                <p
                  v-if="parseInt(role.is_superadmin)"
                >
                  {{'Permisiunile acestui grup nu pot fi modificate'}}
                </p>
                <div v-else>
                  <q-table
                    v-if="role !== '' && !parseInt(role.is_superadmin)"
                    :title="(role.name && role.name && role.name.length > 0) ? role.name : ''"
                    dense
                    :pagination="{rowsPerPage: rowsOperational.length}"
                    :data="rowsOperational"
                    :loading="loading"
                    :columns="columnsOperational"
                  >
                    <template v-slot:body="data">
                      <q-tr :data="data">
                        <q-td
                          align="lefy"
                        >
                          {{data.row.label}}
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.view"
                            dense
                          />
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.update"
                            dense
                          />
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.create"
                            dense
                          />
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.delete"
                            dense
                          />
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.export"
                            dense
                          />
                        </q-td>
                        <q-td
                          align="center"
                        >
                          <q-checkbox
                            v-model="data.row.all"
                            dense
                          />
                        </q-td>
                      </q-tr>
                    </template>
                    <template v-slot:bottom>
                      <q-space />
                      <q-btn
                        class="q-ma-md float-right"
                        color="red"
                        text-color="white"
                        label="Renunta"
                      />
                      <q-btn
                        class="q-ma-md float-right"
                        color="secondary"
                        text-color="white"
                        label="Salveaza"
                      />
                    </template>
                    <template v-slot:no-data>
                      {{loading ? 'Se aduc date ...' : 'Nu exista date!'}}
                    </template>
                  </q-table>
                </div>
              </q-tab-panel>

              <q-tab-panel name="business">
                <div
                  class="text-h4 q-mb-md"
                  v-if="role !== '' && role.is_superadmin"
                >
                  {{(role && role.name && role.name.length > 0) ? role.name : 'Alege un rol'}}
                </div>
                <p
                  v-if="role.is_superadmin"
                >
                  Permisiunile acestui grup nu pot fi modificate
                </p>
                <div v-else>
                  Aici vin checkboxurile de bussiness pentru {{(role && role.name && role.name.length > 0) ? role.name : ''}}
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </template>

        </q-splitter>
      </q-card-section>
      </q-card>
  </q-page>
</template>

<script>
import apiCall from '../../../apiCall'

export default {
  name: 'permissions',
  data () {
    return {
      tab: 'operational',
      splitterModel: 20,
      role: '',
      loading: false,
      roles: [],
      permissions: [],
      rowsOperational: [],
      columnsOperational: [
        {
          label: 'Meniu',
          align: 'left',
          name: 'label',
          field: 'label'
        },
        {
          label: 'Vizualizare',
          align: 'center',
          name: 'view',
          field: 'view'
        },
        {
          label: 'Modificare',
          align: 'center',
          name: 'update',
          field: 'update'
        },
        {
          label: 'Adaugare',
          align: 'center',
          name: 'create',
          field: 'create'
        },
        {
          label: 'Stergere',
          align: 'center',
          name: 'delete',
          field: 'delete'
        },
        {
          label: 'Export',
          align: 'center',
          name: 'export',
          field: 'export'
        },
        {
          label: 'Toate',
          align: 'center',
          name: 'all',
          field: 'all'
        }
      ]
    }
  },
  methods: {
    setRole: function (role) {
      this.loading = true
      let temp = this.tab
      this.tab = ''
      this.role = role
      this.tab = temp
      this.getMenuOptions()
    },
    getMenuOptions: function () {
      let indexChild
      let index
      let temp = []
      let permIndex
      this.rowsOperational = []
      apiCall.getCallApi('/roles', 'post').then(responseRoles => {
        if (responseRoles.data.data) {
          this.roles = responseRoles.data.data
          apiCall.getCallApi('/permissions', 'post').then(responsePermissions => {
            if (responsePermissions.data) {
              this.permissions = responsePermissions.data
              apiCall.getCallApi('/menu', 'post').then(responseMenu => {
                if (responseMenu && responseMenu.data) {
                  for (let index in responseMenu.data) {
                    let menu = responseMenu.data[index]
                    if (parseInt(menu.parent_id) === 0) {
                      temp[menu.id] = menu
                      temp[menu.id].children = []
                    }
                  }
                  for (let index in responseMenu.data) {
                    let menu = responseMenu.data[index]
                    if (temp && temp[menu.parent_id] && temp[menu.parent_id].children) {
                      temp[menu.parent_id].children.push(menu)
                    } else {
                      temp[menu.parent_id] = {}
                      temp[menu.parent_id].children = []
                      temp[menu.parent_id].children[0] = menu
                    }
                  }
                  for (index in temp) {
                    if (temp[index].name && temp[index].name.length) {
                      permIndex = this.permissions.findIndex((val) => {
                        return (parseInt(val.menu_id) === parseInt(temp[index].id) && parseInt(this.role.id) === parseInt(val.role_id))
                      })
                      let row = {
                        label: temp[index].name,
                        'view': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                        'update': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                        'create': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                        'delete': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                        'export': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                        'all': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view)))
                      }
                      this.rowsOperational.push(row)
                      if (temp[index].children) {
                        for (indexChild in temp[index].children) {
                          permIndex = this.permissions.findIndex((val) => {
                            return (parseInt(val.menu_id) === parseInt(temp[index].children[indexChild].id) && parseInt(this.role.id) === parseInt(val.role_id))
                          })
                          row = {
                            label: temp[index].name + ' - ' + temp[index].children[indexChild].name,
                            'view': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].view))),
                            'update': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].update))),
                            'create': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].create))),
                            'delete': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].delete))),
                            'export': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].export))),
                            'all': !!((permIndex !== -1 && parseInt(this.permissions[permIndex].all)))
                          }
                          this.rowsOperational.push(row)
                        }
                      }
                    }
                  }
                  this.loading = false
                }
              })
            }
          })
        }
      })
    }
  },
  watch: {
    'rowsOperational': function (newVal) {
      console.log('rowsOperational', this.role, newVal)
    }
  },
  beforeMount () {
    this.getMenuOptions()
  }
}
</script>

<style scoped>

</style>
