<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 's_roles',
  data () {
    return {
      roles: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          width: '5%',
          fixed: true
        },
        {
          name: 'id',
          field: 'id',
          required: true,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: false,
          idKey: true
        },
        {
          name: 'role_id',
          field: 'id',
          required: true,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: false,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: true,
          width: '25%',
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'description',
          field: 'description',
          label: 'Descriere rol',
          width: '50%',
          required: false,
          sortable: true,
          editable: true,
          align: 'left',
          fixed: true,
          type: 'text',
          showInTable: true
        },
        {
          name: 'is_superadmin',
          field: 'is_superadmin',
          required: false,
          editable: true,
          label: 'Superadmin?',
          width: '10%',
          align: 'center',
          type: 'text',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          width: '10%',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'description', 'is_superadmin']
      }
    }
  },
  computed: {
    ...mapGetters('roles', ['getDataRoles'])
  },
  methods: {
    ...mapActions('user', ['userGet']),
    ...mapActions('roles', ['dataRoles']),
    ...mapGetters('user', ['getUser']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.roles) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          id: this.roles[item].id,
          name: this.roles[item].name,
          description: this.roles[item].description,
          is_superadmin: this.roles[item].is_superadmin === '1' ? '*' : '-',
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'roleEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete',
                to: 'buildings'
              }
            ]
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataRoles': function (newVal) {
      this.roles = newVal
    },
    'roles': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataRoles()
    this.roles = this.getDataRoles
  }
}
</script>

<style scoped>

</style>
