<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 's_settlements',
  data () {
    return {
      settlements: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'settlement_id',
          field: 'id',
          required: false,
          editable: false,
          label: 'id',
          align: 'center',
          sortable: false,
          showInTable: false,
          fixed: false
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'type',
          field: 'type',
          required: true,
          label: 'Tip',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'type'],
        rowsPerPage: 50
      }
    }
  },
  computed: {
    ...mapGetters('settlements', ['getDataSettlements'])
  },
  methods: {
    ...mapActions('user', [ 'userGet' ]),
    ...mapGetters('user', [ 'getUser' ]),
    ...mapActions('settlements', ['dataSettlements']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.settlements) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          settlement_id: this.settlements[item].id,
          name: this.settlements[item].name,
          type: this.settlements[item].type,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: []
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataSettlements': function (newVal) {
      this.settlements = newVal
    },
    'settlements': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataSettlements()
    this.settlements = this.getDataSettlements
  },
  mounted () {
    // this.settlements = this.getDataSettlements
  }
}
</script>

<style scoped>

</style>
