<template>
  <div>
    <table-component
      :table-data="tableData"
      :table-columns="tableColumns"
      :table-settings="tableSettings"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import tableComponent from '../../../components/tables/tableComponent'
export default {
  name: 's_users',
  data () {
    return {
      users: [],
      tableData: [],
      tableColumns: [
        {
          name: 'number',
          field: 'number',
          required: true,
          editable: false,
          label: 'Nr.',
          align: 'center',
          sortable: true,
          showInTable: true,
          fixed: true
        },
        {
          name: 'uid',
          field: 'id',
          required: true,
          editable: false,
          label: 'id',
          sortable: false,
          showInTable: false,
          fixed: false,
          idKey: true
        },
        {
          name: 'name',
          field: 'name',
          required: true,
          label: 'Nume',
          editable: true,
          align: 'left',
          sortable: true,
          fixed: false,
          type: 'text',
          showInTable: true,
          filterable: true
        },
        {
          name: 'phone',
          field: 'phone',
          label: 'Telefon',
          required: true,
          sortable: true,
          editable: true,
          fixed: false,
          type: 'phone',
          showInTable: true
        },
        {
          name: 'email',
          field: 'email',
          required: true,
          editable: true,
          label: 'Email',
          align: 'left',
          type: 'email',
          sortable: true,
          showInTable: true,
          fixed: false
        },
        {
          name: 'actions',
          field: 'actions',
          required: true,
          label: 'Actiuni',
          align: 'right',
          sortable: true,
          editable: false,
          fixed: true,
          showInTable: true
        }
      ],
      tableSettings: {
        selection: false,
        visibleColumns: ['name', 'phone', 'email'],
        addComponent: 'userEditViewAdd'
      }
    }
  },
  computed: {
    ...mapGetters('users', ['getDataUsers'])
  },
  methods: {
    ...mapActions('user', ['userGet']),
    ...mapActions('users', ['dataUsers']),
    ...mapGetters('user', ['getUser']),
    prepareTableData () {
      this.tableData = []
      for (let item in this.users) {
        this.tableData.push({
          number: (parseInt(item) + 1),
          uid: this.users[item].id,
          email: this.users[item].email,
          name: this.users[item].name,
          phone: this.users[item].phone,
          actionsGroup: {
            label: 'Actiuni',
            color: 'primary',
            actions: [
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-indigo-6',
                action: 'edit',
                icon: 'edit',
                type: 'router',
                to: 'userEditViewAdd'
              },
              {
                color: 'white',
                label: '',
                flat: true,
                class: 'text-red-6',
                action: 'delete',
                type: 'dialog',
                icon: 'delete'
              }
            ]
          }
        })
      }
    }
  },
  components: { tableComponent },
  watch: {
    'getDataUsers': function (newVal) {
      this.users = newVal
    },
    'users': function (newVal) {
      this.prepareTableData()
    }
  },
  beforeMount () {
    this.dataUsers()
    this.users = this.getDataUsers
  },
  mounted () {
    this.users = this.getDataUsers
  }
}
</script>

<style scoped>

</style>
