/* app global css */


.login,
.signup,
.recoverPassword{
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  z-index: 100;
}

.login,
.recoverPassword{
  margin: 15% auto;
  width: 300px;
}

.signup {
  width: 500px;
  margin: 2% auto;
}

.container-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  margin-bottom: 0!important;
}

.login img,
.recoverPassword img,
.signup img {
  width: 5rem;
  height: 5rem;
}

.login form,
.recoverPassword form,
.signup form {
  display: flex;
  flex-flow: column;
}

.login *:not(:last-child),
.recoverPassword *:not(:last-child){
  margin-bottom: 1rem;
}

button.publicButton,
a.publicButton {
  padding: .5rem;
  background-color: lightgray;
  color: #111111;
  text-decoration: none;
  text-align: center;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

button.publicButton:hover,
a.publicButton:hover{
  background-color: lightslategray;
}

.signup .q-pa-md{
  width: 300px;
  margin: 0 auto;
}

.signup h3{
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: normal;
}
