<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card style="min-width: 500px;">
      <q-card-section>
        <div class="text-h6">{{title}}</div>
      </q-card-section>
      <q-separator />
      <q-form style="padding-top: 15px"
      @submit="onOKClick"
      @reset="onCancelClick"
      class="q-grid"
      >
      <q-card-section
        v-for="(column, val) in columns"
        :key="val"
        v-show="(column.editable && column.label && column.label.length)"
      >
        <q-input
          v-if="!column.type || column.type == 'number' || column.type == 'text' || column.type == 'email'"
          ref="input"
          :type="column.type ? column.type : 'text'"
          filled
          v-model="rows[column.name]"
          :label="column.label"
          :rules="[
            val => !!val && column.required || 'Campul este obligatoriu!',
            val => val.length >= 5 || 'Minim 5 caractere'
            ]"
        />
        <q-select
          v-if="column.type == 'select'"
          :options="column.options"
          v-model="rows[column.name]"
          :label="column.label"
        />
        <div v-if="column.type == 'image'">
          <div v-if="column.label">{{column.label}}</div>
          <img :src="rows[column.name]" v-if="rows[column.name] && rows[column.name].length">
          <q-uploader
            url="http://localhost:4444/upload"
            style="max-width: 300px"
          />
        </div>
      </q-card-section >
      </q-form>
      <!-- buttons example -->
      <q-separator />
      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  props: ['rows', 'columns', 'editSettings'],
  name: 'popupEdit',
  data () {
    return {
      title: 'Pop-up'
    }
  },
  methods: {
    checkSettings () {
      if (this.editSettings) {
        if (this.editSettings.title) {
          this.title = this.editSettings.title
        }
      }
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  },
  beforeMount () {
    // console.log(this.row)
  }
}
</script>

<style scoped>

</style>
