<template>
    <div class="login">
      <notification-component :notificationBag="notificationBag" v-if="loginSuccessful || loginError || loginWarning"></notification-component>
<!--      <div v-if="loggingIn" class="container-loading">-->
<!--        <img src="~assets/loading.gif" alt="Loading Icon">-->
<!--      </div>-->
<!--      <p v-if="loginError" class="error_login non-selectable"><q-icon name="error"></q-icon> {{ loginError }}</p>-->
<!--      <p v-if="loginSuccessful" class="success_login non-selectable"><q-icon name="checked"></q-icon>Login Successful</p>-->
      <form @submit.prevent="onOk">
        <q-input
          ref="emailLogin"
          type="email"
          filled
          v-model="email"
          label="email"
          autofocus
        />
        <q-input
          ref="passwordLogin"
          v-model="password"
          filled
          label="parola"
          :type="!isPwd ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <button type="submit" class="publicButton non-selectable">Autentificare</button>
        <router-link class="publicButton non-selectable" to="signup" color="green">Inregistrare</router-link>
        <router-link class="publicButton non-selectable" to="recoverPassword" color="green">Recuperare cont</router-link>
      </form>
    </div>
</template>

<script>
import auth from 'src/auth'
import { mapActions } from 'vuex'

export default {
  name: 'login_component',
  components: {
    notificationComponent: () => import('../helpers/notification.vue')
  },
  data () {
    return {
      errorMessage: '',
      loginError: false,
      loggingIn: false,
      loginSuccessful: false,
      loginWarning: false,
      email: null,
      password: null,
      isPwd: false,
      notificationBag: {}
    }
  },
  state: {
    loggingIn: false,
    loginError: false,
    loginSuccessful: false
  },
  methods: {
    ...mapActions('user', [ 'userSet' ]),
    async onOk () {
      this.$q.loading.show()
      this.loggingIn = true
      await this.login(this.email, this.password)
        .then(_ => {
          if (_ && _.accessToken) {
            this.password = ''
            this.notificationBag = {
              type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
              position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
              textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
              color: 'green', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
              icon: 'check', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
              actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
              html: false, // trebuie trimis daca vrei ca mesajul sa fie html
              timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
              message: 'You are now logged in' // Asta e obligatoriu de trimis este mesajul afisat
            }
            this.loginSuccessful = true
            this.loggingIn = false
            auth.authenticate().then((user) => {
              this.userSet(user)
              this.$q.loading.hide()
              this.$router.push({ name: 'main' })
            })
          } else {
            this.notificationBag = {
              type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
              position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
              textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
              color: 'orange', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
              icon: 'warning', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
              actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
              html: false, // trebuie trimis daca vrei ca mesajul sa fie html
              timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
              message: 'Cannot sign in, please check your e-mail or password' // Asta e obligatoriu de trimis este mesajul afisat
            }
            this.loggingIn = false
            this.loginWarning = true
            this.$q.loading.hide()
          }
        })
        .catch(_ => {
          this.notificationBag = {
            type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
            position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
            textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
            color: 'orange', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            icon: 'warning', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
            html: false, // trebuie trimis daca vrei ca mesajul sa fie html
            timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
            message: 'Cannot sign in, please check your e-mail or password' // Asta e obligatoriu de trimis este mesajul afisat
          }
          this.loggingIn = false
          this.loginWarning = true
          this.$q.loading.hide()
        })
    },
    login (email, password) {
      this.$q.loading.hide()
      return auth.login(email, password)
    }
    // loginSubmit () {
    //   this.$router.replace({ path: '/main' })
    //   // ERROR EXAMPLE
    //   // this.notificationBag = {
    //   //   type: 'error', // Tipul notificarii, exista 3 momentan: error, success, warning
    //   //   position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   color: 'red', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   icon: 'error', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   html: false, // trebuie trimis daca vrei ca mesajul sa fie html
    //   //   // timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
    //   //   message: 'This is an error test.' // Asta e obligatoriu de trimis este mesajul afisat
    //   // }
    //   // this.loginError = true
    //
    //   // SUCCESS EXAMPLE
    //   // this.notificationBag = {
    //   //   type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
    //   //   position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   color: 'green', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   icon: 'check', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   html: false, // trebuie trimis daca vrei ca mesajul sa fie html
    //   //   timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
    //   //   message: 'This is a success test' // Asta e obligatoriu de trimis este mesajul afisat
    //   // }
    //   // this.loginSuccessful = true
    //
    //   // WARNING EXAMPLE
    //   // this.notificationBag = {
    //   //   type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
    //   //   position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   color: 'orange', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   icon: 'warning', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //   //   actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
    //   //   html: false, // trebuie trimis daca vrei ca mesajul sa fie html
    //   //   timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
    //   //   message: 'This is a warning test.' // Asta e obligatoriu de trimis este mesajul afisat
    //   // }
    //   // this.loginWarning = true
    // }
  }
}
</script>

<style scoped>
</style>
