<template>
  <div id="q-app">
    <notification-component :notificationBag="notificationBag" v-if="loginSuccessful || loginError || loginWarning || loginOutSuccessful"></notification-component>
    <fancy-background v-if="($router.currentRoute.name == 'login' || $router.currentRoute.name == 'signup' || $router.currentRoute.name == 'recoverPassword' || $router.currentRoute.name == 'newPassword' )"></fancy-background>
    <q-layout>
      <q-page-container>
        <router-view :user="user"></router-view>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import auth from 'src/auth'
import { mapActions } from 'vuex'
import { LocalStorage } from 'quasar' // make sure you edit quasar.conf.js

export default {
  name: 'App',
  data () {
    return {
      // leftDrawerOpen: this.$q.platform.is.desktop,
      user: null,
      loginError: false,
      loginSuccessful: false,
      loginWarning: false,
      loginOutSuccessful: false,
      isAuth: false,
      notificationBag: {}
    }
  },
  components: {
    notificationComponent: () => import('components/helpers/notification.vue'),
    fancyBackground: () => import('components/helpers/fancyBackground.vue')
  },
  computed: {
    authenticated () {
      return this.$data.user !== null
    },
    token () {
      return LocalStorage.getItem('feathers-jwt')
    }
  },
  methods: {
    ...mapActions('config', ['updateActivePath']),
    ...mapActions('user', [ 'userSet', 'userUpdate' ]),
    signout () {
      auth.signout()
        .then(() => {
          this.notificationBag = {
            type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
            position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
            textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
            color: 'green', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            icon: 'check', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
            html: false, // trebuie trimis daca vrei ca mesajul sa fie html
            timeout: 2000, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
            message: 'You are now logged out, sign in again to continue to work' // Asta e obligatoriu de trimis este mesajul afisat
          }
          this.loginOutSuccessful = true
        })
        .catch(() => {
          this.notificationBag = {
            type: 'error', // Tipul notificarii, exista 3 momentan: error, success, warning
            position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
            textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
            color: 'red', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            icon: 'error', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
            actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
            html: false, // trebuie trimis daca vrei ca mesajul sa fie html
            // timeout: 2500, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
            message: 'Cannot logout, please check again in a few minutes.' // Asta e obligatoriu de trimis este mesajul afisat
          }
          this.loginError = true
        })
    },
    setUser (user) {
      this.$data.user = user
    }
  },
  mounted: function () {
    // On successful login
    auth.onAuthenticated((user) => {
      this.userSet(user)
      this.setUser(user)
    })

    // // Check if there is already a session running
    // auth.authenticate()
    //   .then((user) => {
    //     // console.log('sssssssssss', user, this.token)
    //     this.userSet(user)
    //     this.notificationBag = {
    //       type: 'success', // Tipul notificarii, exista 3 momentan: error, success, warning
    //       position: 'bottom', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //       textColor: 'white', // Asta e implicit se trimite doar daca este necesar sa o modifici
    //       color: 'green', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //       icon: 'check', // Daca ai setat tipul notificarii si este unul dintre cele 3 nu esti obligat sa il trimiti
    //       actions: [{ icon: 'close', color: 'white' }], // Asta e implicit se trimite doar daca este necesar sa o modifici
    //       html: false, // trebuie trimis daca vrei ca mesajul sa fie html
    //       timeout: 2000, // Daca se trimite atunci notificarea este afisata pentru un numar de milisecunde
    //       message: 'Restoring previous session' // Asta e obligatoriu de trimis este mesajul afisat
    //     }
    //     this.loginOutSuccessful = true
    //     console.log('in APP success ROUTER:', this.$router)
    //     // this.$router.push({ name: 'home' })
    //   })
    //   .catch(_ => {
    //     this.setUser(null)
    //     this.$router.push({ name: 'login' })
    //   })

    // On logout
    auth.onLogout(() => {
      this.setUser(null)
      this.userUpdate({})
      this.$router.push({ name: 'login' })
    })
  },
  watch: {
  },
  beforeMount () {
    // console.log('I AM IN APPPPPPPP')
  }
}
</script>

<style scoped>

</style>
