<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <headerBar></headerBar>
    <meniu></meniu>

    <q-page-container
      :class="(showDrawerButtonMini && leftDrawerOpen) ? 'q-pl-xl q-pr-xs': (!showDrawerButtonMini && leftDrawerOpen) ? 'paddingLeft240' : ''"
      style="min-height: 92.3vh"
    >
      <router-view />
    </q-page-container>
    <footerBar style="bottom: 0"></footerBar>
  </q-layout>
</template>

<script>
import auth from 'src/auth'
import headerBar from '../components/helpers/header'
import meniu from '../components/helpers/meniu'
import footerBar from '../components/helpers/footer'
import { mapGetters } from 'vuex'
export default {
  name: 'MyLayout',
  components: { headerBar, meniu, footerBar },
  computed: {
    ...mapGetters('config', ['leftDrawerOpen', 'showDrawerButtonMini'])
  },
  data () {
    return {
      search: ''
    }
  },
  methods: {
    logout () {
      return auth.signout()
    }
  }
}
</script>

<style lang="sass">
  .paddingLeft240
    padding-left: 240px

  .YL

    &__toolbar-input-container
      min-width: 100px
      width: 55%

    &__toolbar-input-btn
      border-radius: 0
      border-style: solid
      border-width: 1px 1px 1px 0
      border-color: rgba(0,0,0,.24)
      max-width: 60px
      width: 100%

    &__drawer-footer-link
      color: inherit
      text-decoration: none
      font-weight: 500
      font-size: .75rem

      &:hover
        color: #000
</style>
