<template>
  <q-page class="col">
    <q-card class="col-12 q-ml-lg q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div class="text-h6">{{title}} {{actualViewEditAddUser.username}}</div>
    </q-card-section>
    <q-separator />
    <q-form style="padding-top: 15px; padding-left: 15px; padding-right: 15px"
            @submit="onOKClick"
            @reset="onCancelClick"
            class="q-grid"
    >
      <input type="hidden" :value="userId" name="id" id="id">
      <input type="hidden" :value="contact.id" name="contactId" id="contactId">

      <q-splitter
        v-model="splitterModel"
      >

      <template
        style="width: 200px;"
        class="vertical-top"
        v-slot:before>
      <q-tabs
        v-model="tab"
        vertical
        dense
        align="left"
        class="text-grey"
        active-color="primary"
        indicator-color="transparent"
        narrow-indicator
      >
        <q-tab name="userAccount" label="Setari cont" />
        <q-tab
          v-if="id > 0"
          name="userRoles"
          label="Roluri"
        />
        <q-tab
          v-if="id > 0"
          name="userContact"
          label="Setari contact"
        />
      </q-tabs>
      </template>
      <template v-slot:after>
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="userAccount">
          <div class="row">
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputName"
                type="text"
                color="grey-6"
                class="text-grey-6"
                v-model="nameAccount"
                label="Nume"
                :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => val.length >= 5 || 'Minim 5 caractere'
                 ]"
              />
            </q-card-section>
          </div>
          <q-space />
          <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputUsername"
                type="text"
                v-model="username"
                color="grey-6"
                class="text-grey-6"
                :input-class="'text-grey-9'"
                label="Utilizator"
                :rules="[
                val => !!val || 'Campul este obligatoriu!',
               ]"
              />
            </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputPhone"
                  type="tel"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  v-model="phoneAccount"
                  label="Telefon"
                  mask="##########"
                  hint="Format: ##########"
                  unmasked
                  :rules="[
                    val => !!val || 'Campul este obligatoriu!',
                    val => val.length >= 10 || 'Trebuie sa contina 10 cifre.',
                    val => checkphone(val) === true || 'Introduceti un numar de telefon valid'
                   ]"
                />
              </q-card-section>
            </div>
            <q-space />
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputPassword1"
                  :type="isPwd1 ? 'password' : 'text'"
                  v-model="password1"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  label="Parola noua"
                  :rules="[
                  val => passwordCheck(val) === true || 'Parola trebuie sa contina cel putin un numar, o majuscula si un semn special.'
                 ]"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd1 ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd1 = !isPwd1"
                    />
                  </template>
                </q-input>
              </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
            <q-card-section>
              <q-input
                ref="inputEmail"
                type="email"
                color="grey-6"
                class="text-grey-6"
                :input-class="'text-grey-9'"
                v-model="emailAccount"
                label="Email"
                :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => emailValid(val) === true || 'Introduceti o adresa de email valida'
                 ]"
              />
            </q-card-section>
            </div>
            <q-space />
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputPassword2"
                  :type="isPwd1 ? 'password' : 'text'"
                  filled
                  v-model="password2"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  label="Validare parola noua"
                  :rules="[
                  val => val === password1 || 'Cele doua campuri pentru parola trebuie sa fie identice'
                 ]"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd1 ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd1 = !isPwd1"
                    />
                  </template>
                </q-input>
              </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
            <q-card-section
            class="row"
            >
              <q-select
                color="grey-6"
                class="col-5 text-grey-6"
                :options="[{value: 'ro', label: 'Romana'}]"
                v-model="languageAccount"
                :display-value="languageAccount ? 'Romana' : ''"
                label="Limba implicita"
              >
              </q-select>
              <q-space />
              <q-select
                color="grey-6"
                class="col-5 text-grey-6"
                :options="[{value: 'ro', label: 'Romania'}]"
                v-model="countryAccount"
                :display-value="countryAccount ? 'Romania' : ''"
                label="Tara"
              >
              </q-select>
            </q-card-section>
          </div>
          <q-space />
          </div>
          <div class="row">
            <div class="col-5">
              <q-checkbox
                color="grey-6"
                class="text-grey-6"
                label="Este super administrator"
                v-model="isSuperAdmin"
                disable
                left-label
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <q-checkbox
                color="grey-6"
                class="text-grey-6"
                left-label
                label="Este vizitator cu zile access temporar?"
                v-model="temporaryAccess"
              />
            </div>
            <q-space />
            <div class="col-5">
              <q-input
                v-if="temporaryAccess"
                label="De cand?"
                color="grey-6"
                class="text-grey-6"
                v-model="tempAccessStartDate"
                type="date"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="q-gutter-sm">
              <q-checkbox
                v-if="id >0"
                color="grey-6"
                class="text-grey-6"
                label="Termeni acceptati?"
                v-model="terms_accepted"
                disable
              />
              </div>
              <div class="q-gutter-sm">
              <q-checkbox
                v-if="id >0"
                color="grey-6"
                class="text-grey-6"
                label="Email verificat?"
                v-model="email_validated"
                disable
              />
              </div>
              <div class="q-gutter-sm">
              <q-checkbox
                v-if="id >0"
                color="grey-6"
                class="text-grey-6"
                label="Email modificat?"
                v-model="email_changed"
                disable
              />
              </div>
            </div>
            <q-space />
            <div class="col-5">
              <div class="q-gutter-sm">
              <q-checkbox
                v-if="id >0"
                color="grey-6"
                class="text-grey-6"
                label="Consimtamant acceptat?"
                v-model="concent_accepted"
                disable
              />
              </div>
              <div class="q-gutter-sm">
                <q-checkbox
                  v-if="id >0"
                  color="grey-6"
                  class="text-grey-6"
                  label="Verificare expirata?"
                  v-model="verifyExpires"
                  disable
                />
              </div>
              <div class="q-gutter-sm">
                <q-checkbox
                  v-if="id >0"
                  color="grey-6"
                  class="text-grey-6"
                  label="Verificare schimbata?"
                  v-model="verifyChanges"
                  disable
                />
              </div>
            </div>
          </div>
        </q-tab-panel>
        <q-tab-panel
          v-if="id > 0"
          name="userRoles"
        >
          Va sa vie
        </q-tab-panel>
        <q-tab-panel
          v-if="id > 0"
          name="userContact"
        >
          <q-toolbar-title
            class="q-ml-md"
          >
            Date cont
          </q-toolbar-title>
          <div class="row">
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputContactName"
                  type="text"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  v-model="contact.name"
                  label="Nume"
                  :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => val.length >= 5 || 'Minim 5 caractere'
                 ]"
                />
              </q-card-section>
            </div>
            <q-space />
            <div class="col-5">
              <q-card-section
                class="row"
              >
              <q-select
                color="grey-6"
                class="col-5 text-grey-6"
                :options="[{value: 'f', label: 'Feminin'}, {value: 'm', label: 'Masculin'}]"
                v-model="contact.gender"
                :display-value="contact.gender ? (contact.gender === 'm' ? 'Masculin' : 'Feminin') : ''"
                label="Sex"
              />
                <q-space />
                <q-select
                  color="grey-6"
                  class="col-5 text-grey-6"
                  :options="[{value: 'Mrs', label: 'Doamna'}, {value: 'Mr', label: 'Domnul'}]"
                  v-model="contact.title"
                  :display-value="contact.title ? (contact.title === 'Mr' ? 'Domnul' : 'Doamna') : ''"
                  label="Titlu"
                />
              </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <q-card-section>
              <q-input
                ref="inputJobTitle"
                type="text"
                color="grey-6"
                class="text-grey-6"
                :input-class="'text-grey-9'"
                v-model="contact.job_title"
                label="Functie"
              />
              </q-card-section>
            </div>
            <q-space />
          </div>
          <div class="row">
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputContactPhone1"
                  type="tel"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  v-model="contact.phone01"
                  label="Telefon 1"
                  mask="##########"
                  hint="Format: ##########"
                  unmasked
                  :rules="[
                    val => !!val || 'Campul este obligatoriu!',
                    val => val.length >= 10 || 'Trebuie sa contina 10 cifre.',
                    val => checkphone(val) === true || 'Introduceti un numar de telefon valid'
                   ]"
                />
              </q-card-section>
            </div>
            <q-space />
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputContactPhone2"
                  type="tel"
                  color="grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  v-model="contact.phone02"
                  label="Telefon 2"
                  mask="##########"
                  hint="Format: ##########"
                  unmasked
                  :rules="[
                    val => checkphone(val) === true || 'Introduceti un numar de telefon valid'
                   ]"
                />
              </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <q-card-section>
                <q-input
                  ref="inputContactEmail"
                  type="email"
                  color="row grey-6"
                  class="text-grey-6"
                  :input-class="'text-grey-9'"
                  v-model="contact.email"
                  label="Email"
                  :rules="[
                  val => !!val || 'Campul este obligatoriu!',
                  val => emailValid(val) === true || 'Introduceti o adresa de email valida'
                 ]"
                />
              </q-card-section>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <q-card-section
                class="row"
              >
                <q-select
                  color="grey-6"
                  class="col-5 text-grey-6"
                  :options="[{value: 'ro', label: 'Romana'}]"
                  v-model="contact.language"
                  :display-value="contact.language ? 'Romana' : ''"
                  label="Limba implicita"
                >
                </q-select>
              </q-card-section>
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
      </template>
      </q-splitter>
    </q-form>
    <!-- buttons example -->
    <q-separator />
    <q-card-actions align="right">
      <q-btn
        color="red"
        label="Anuleaza"
        @click="onCancelClick"
      />
      <q-btn0
        color="secondary"
        label="Salveaza"
        @click="onOKClick"
      />
    </q-card-actions>
  </q-card>
  </q-page>
</template>

<script>
import { passwordChecker, checkIfIsValidRomanianPhoneNumber, emailIsValid } from '../../../../helpers/helpers.js'
import { mapGetters } from 'vuex'
export default {
  name: 'popupEditUser',
  data () {
    return {
      /* Start: campuri fomular */
      userId: 0,
      nameAccount: '',
      username: '',
      phoneAccount: '',
      emailAccount: '',
      password1: '',
      password2: '',
      languageAccount: 'ro',
      countryAccount: 'ro',
      isSuperAdmin: '',
      temporaryAccess: false,
      tempAccessStartDate: '',
      terms_accepted: '',
      email_validated: '',
      email_changed: '',
      concent_accepted: '',
      verifyExpires: '',
      verifyChanges: '',
      contact: {
        id: 0,
        name: '',
        email: '',
        language: '',
        gender: '',
        title: '',
        job_title: '',
        phone01: '',
        phone02: ''
      },
      /* End: campuri formular */
      id: this.$route.params.id,
      isPwd1: true,
      splitterModel: 15,
      actualViewEditAddUser: {},
      tab: 'userAccount',
      loopedTypes: ['text', 'number', 'email', 'phone']
    }
  },
  computed: {
    ...mapGetters('user', ['getActualViewEditAddUser']),
    title () {
      if (this.id && this.id > 0) {
        return 'Editare utilizator: '
      } else {
        return 'Adaugare utilizator'
      }
    }
  },
  methods: {
    emailValid (val) {
      return emailIsValid(val)
    },
    passwordCheck (val) {
      return passwordChecker(val)
    },
    checkphone (val) {
      return checkIfIsValidRomanianPhoneNumber(val)
    },
    checkSettings () {
      if (this.editSettings) {
        if (this.editSettings.title) {
          this.title = this.editSettings.title
        }
      }
    },
    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  },
  watch: {
    'getActualViewEditAddUser': function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.userId = newVal.id
        this.nameAccount = newVal.name
        this.username = newVal.username
        this.phoneAccount = newVal.phone
        this.emailAccount = newVal.email
        this.languageAccount = newVal.language
        this.countryAccount = newVal.country
        this.isSuperAdmin = newVal.isSuperAdmin
        this.temporaryAccess = newVal.temporaryAccess
        this.tempAccessStartDate = newVal.tempAccessStartDate
        this.terms_accepted = newVal.terms_accepted
        this.email_validated = newVal.email_validated
        this.email_changed = newVal.email_changed
        this.concent_accepted = newVal.concent_accepted
        this.verifyExpires = newVal.verifyExpires
        this.verifyChanges = newVal.verifyChanges
        this.contact.id = newVal.contact.id
        this.contact.name = newVal.contact.name
        this.contact.email = newVal.contact.email
        this.contact.language = newVal.contact.language
        this.contact.gender = newVal.contact.gender
        this.contact.title = newVal.contact.title
        this.contact.job_title = newVal.contact.job_title
        this.contact.phone01 = newVal.contact.phone01
        this.contact.phone02 = newVal.contact.phone02
      }
    }
  },
  beforeMount () {
    if (this.$route && this.$route.params && this.$route.params.id && this.$route.params.id > 0) {
      this.$store.dispatch('user/dataActualViewEditAddUser', this.$route.params.id)
    }
  }
}
</script>

<style scoped>

</style>
